Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Set GmapMap gesture handling to greedy
  client/src/components/GoogleMaps.vue
Labels: frontend

Set GmapMap gesture handling to greedy (#40)
  client/src/components/GoogleMaps.vue
Labels: frontend

Add Promise.all
  server/achievements.js
  server/routes/scan.js
Labels: backend

Add initial scan route (#39)
  server/achievements.js
  server/index.js
  server/models/qrshard.js
  server/routes/scan.js
  server/schema.sql
Labels: backend

Fix qrshard model keys
  server/models/qrshard.js
  server/routes/qrshards.js
Labels: backend

Fix qrshard model keys (#41)
  server/models/qrshard.js
  server/routes/qrshards.js
Labels: backend

Add marker info box
  client/src/assets/distance.png
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/assets/star.png
  client/src/components/GoogleMaps.vue
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
Labels: frontend

Add marker info box (#42)
  client/src/assets/distance.png
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/assets/star.png
  client/src/components/GoogleMaps.vue
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
Labels: frontend

Add Google Login
  client/src/App.vue
  client/src/components/GoogleSignIn.vue
  client/src/components/Home.vue
  client/src/components/Login.vue
  client/src/router.ts
  client/src/utils.ts
  server/routes/auth.js
  server/routes/users.js
  server/utils.js
Labels: frontend, backend

Update login
  client/src/App.vue
  client/src/assets/google.svg
  client/src/assets/scss/_style.scss
  client/src/components/GoogleSignIn.vue
  client/src/components/Home.vue
  client/src/components/Login.vue
  client/src/components/NotFound.vue
Labels: frontend

Add lint-staged with husky
  client/package-lock.json
  client/package.json
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Add Google Login (#45)
  client/src/App.vue
  client/src/assets/google.svg
  client/src/assets/scss/_style.scss
  client/src/components/GoogleSignIn.vue
  client/src/components/Home.vue
  client/src/components/Login.vue
  client/src/components/NotFound.vue
  client/src/router.ts
  client/src/utils.ts
  server/routes/auth.js
  server/routes/users.js
  server/utils.js
Labels: frontend, backend

Add Lint Staged (#44)
  client/package-lock.json
  client/package.json
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update QR Scanner
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/main.ts
  client/src/plugins/custom-fetch.ts
  client/src/utils.ts
Labels: frontend

Update console.log to alert
  client/src/components/QRScanner.vue
Labels: frontend

Update QR Scanner (#46)
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/main.ts
  client/src/plugins/custom-fetch.ts
  client/src/utils.ts
Labels: frontend

Add current spot details box
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
  client/src/main.ts
  client/src/router.ts
  client/src/store.ts
Labels: frontend

Remove unnecessary svg tags
  client/src/assets/user.svg
Labels: frontend

Minor formatting
  client/src/components/CurrentSpot.vue
  client/src/components/Home.vue
  client/src/components/User.vue
Labels: frontend

Remove codecov
  .github/workflows/build.yml
Labels: github

Add current spot details box (#47)
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/main.ts
  client/src/router.ts
  client/src/store.ts
Labels: frontend

Remove codecov (#49)
  .github/workflows/build.yml
Labels: github

Add User view
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/components/Header.vue
  client/src/components/User.vue
  client/src/router.ts
Labels: frontend

Add stylelint
  client/package-lock.json
  client/package.json
  server/package.json
Labels: frontend, backend, package.json

Stylelint formatting
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/GoogleSignIn.vue
  client/src/components/Header.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
Labels: frontend

Add User view (#50)
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/components/Header.vue
  client/src/components/User.vue
  client/src/router.ts
Labels: frontend

Add stylelint (#51)
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/GoogleSignIn.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  server/package.json
Labels: frontend, backend, package.json

Update dependency node-sass to v4.13.1 [SECURITY]
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Fix header and footer
  client/src/App.vue
  client/src/components/Home.vue
  client/src/components/User.vue
Labels: frontend

Fix header and footer (#56)
  client/src/App.vue
  client/src/components/Home.vue
  client/src/components/User.vue
Labels: frontend

Add achievement badges
  client/public/index.html
  client/src/components/Header.vue
  client/src/components/User.vue
  server/achievements.js
  server/schema.sql
Labels: frontend, backend

Add achievement badges (#52)
  client/public/index.html
  client/src/components/Header.vue
  client/src/components/User.vue
  server/achievements.js
  server/schema.sql
Labels: frontend, backend

Add placeholder style
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/assets/scss/placeholder.scss
  client/src/components/Login.vue
  client/src/components/NotFound.vue
  client/src/components/User.vue
Labels: frontend

Add a really smooth and cool transition
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Home.vue
  client/src/store.ts
Labels: frontend

Update client/src/components/CurrentSpot.vue
  client/src/components/CurrentSpot.vue
Labels: frontend

Update client/src/components/CurrentSpot.vue
  client/src/components/CurrentSpot.vue
Labels: frontend

Add a really smooth and cool transition (#54)
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Home.vue
  client/src/store.ts
Labels: frontend

Add placeholder style (#55)
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/assets/scss/placeholder.scss
  client/src/components/Login.vue
  client/src/components/NotFound.vue
  client/src/components/User.vue
Labels: frontend

Fix overflow footer
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
Labels: frontend

Fix overflow footer (#58)
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
Labels: frontend
