Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, npm, migration

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
  - client-beta/*
  - client-beta/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
npm:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - client-beta/package.json
  - client-beta/package-lock.json
  - server/package.json
  - server/package-lock.json
migration:
  - server/migrations/*

feat: beta environment
  .github/workflows/test-env-beta.yml
Labels: github

update icon
  client-beta/public/favicon.ico
  client-beta/public/icons/favicon-16x16.png
  client-beta/public/icons/favicon-192x192.png
  client-beta/public/icons/favicon-32x32.png
  client-beta/public/icons/favicon-512x512.png
  client-beta/public/logo.svg
  client-beta/public/print-qr-code.pdn
  client-beta/public/print-qr-code.png
  client-beta/vite.config.ts
Labels: frontend

feat: add pwa
  client-beta/package-lock.json
  client-beta/package.json
  client-beta/vite.config.ts
Labels: frontend, npm

feat: qr-hunt title
  client-beta/src/components/HelloWorld.vue
  client-beta/src/views/HomeView.vue
Labels: frontend

feat: qr-hunt title (#500)
  client-beta/src/components/HelloWorld.vue
  client-beta/src/views/HomeView.vue
Labels: frontend

feat: add pwa (#501)
  client-beta/package-lock.json
  client-beta/package.json
  client-beta/public/favicon.ico
  client-beta/public/icons/favicon-16x16.png
  client-beta/public/icons/favicon-192x192.png
  client-beta/public/icons/favicon-32x32.png
  client-beta/public/icons/favicon-512x512.png
  client-beta/public/logo.svg
  client-beta/public/print-qr-code.pdn
  client-beta/public/print-qr-code.png
  client-beta/vite.config.ts
Labels: frontend, npm

feat: add pwa (#501)
  client-beta/src/assets/fire.svg
  client-beta/src/assets/logo.svg
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/router.ts
  client-beta/src/utils/hash.ts
  client-beta/src/views/HomeView.vue
  client-beta/src/views/NotFoundView.vue
  client-beta/src/views/UserView.vue
Labels: frontend

feat: add some views (#502)
  client-beta/src/assets/fire.svg
  client-beta/src/assets/logo.svg
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/router.ts
  client-beta/src/utils/hash.ts
  client-beta/src/views/HomeView.vue
  client-beta/src/views/NotFoundView.vue
  client-beta/src/views/UserView.vue
Labels: frontend

feat: user view mock
  client-beta/src/components/AchievementsCard.vue
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/components/UserAchievements.vue
  client-beta/src/components/UserLeaderboard.vue
  client-beta/src/components/UserSettings.vue
  client-beta/src/plugins/vuetify.ts
  client-beta/src/router.ts
  client-beta/src/views/AboutView.vue
  client-beta/src/views/HomeView.vue
  client-beta/src/views/UserView.vue
Labels: frontend

feat: user view mock (#503)
  client-beta/src/components/AchievementsCard.vue
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/components/UserAchievements.vue
  client-beta/src/components/UserLeaderboard.vue
  client-beta/src/components/UserSettings.vue
  client-beta/src/plugins/vuetify.ts
  client-beta/src/router.ts
  client-beta/src/views/AboutView.vue
  client-beta/src/views/HomeView.vue
  client-beta/src/views/UserView.vue
Labels: frontend
