Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Return correct http status (#255)
  server/src/achievement/achievement-list.js
  server/src/utils.js
Labels: backend

Add view users
  client/src/components/UserAchievements.vue
  client/src/plugins/achievements.ts
  client/src/router.ts
  client/src/views/User.vue
  server/src/achievement/achievement-middleware.js
  server/src/achievement/achievement-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Update dependency lint-staged to v11
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update other user view
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/store/store-achievements.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
  client/src/utils.ts
  client/src/views/User.vue
  server/src/user/user-route.js
Labels: frontend, backend

Update leaderboard
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
Labels: frontend

Fix css
  client/src/components/UserLeaderboard.vue
Labels: frontend

Remove unused code
  server/src/user/user-route.js
Labels: backend

Add view users (#256)
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/plugins/achievements.ts
  client/src/router.ts
  client/src/store/store-achievements.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
  client/src/utils.ts
  client/src/views/User.vue
  server/src/achievement/achievement-middleware.js
  server/src/achievement/achievement-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Update dependency path-parse to 1.0.7 [SECURITY]
  client/package-lock.json
  package-lock.json
Labels: frontend, package.json

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Pin dependencies
  .nvmrc
  client/.nvmrc
  server/.nvmrc
  server/package.json
Labels: frontend, backend, package.json

Update dependency @types/jest to v27
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update dependency eslint-plugin-prettier to v4
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update dependency intro.js to v4
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Rotate map
  client/src/components/GoogleMaps.vue
Labels: frontend

Console log map
  client/src/components/GoogleMaps.vue
Labels: frontend

Update GoogleMaps.vue
  client/src/components/GoogleMaps.vue
Labels: frontend

Update google-maps.ts
  client/src/plugins/google-maps.ts
Labels: frontend

Update GoogleMaps.vue
  client/src/components/GoogleMaps.vue
Labels: frontend

Add tilt
  client/src/components/GoogleMaps.vue
  client/src/store/store-qr-spot.ts
Labels: frontend

Rotate map (#266)
  client/src/components/GoogleMaps.vue
  client/src/plugins/google-maps.ts
  client/src/store/store-qr-spot.ts
Labels: frontend

Change color
  client/src/assets/compass.svg
  client/src/assets/position-button.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Add compass
  client/src/assets/compass.svg
  client/src/assets/position-button.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Update svgs
  client/src/assets/compass.svg
  client/src/assets/google.svg
  client/src/assets/position-button.svg
  client/src/assets/position-marker.svg
  client/src/assets/spinner.svg
Labels: frontend

Update GoogleMaps.vue
  client/src/components/GoogleMaps.vue
Labels: frontend

Add compass (#268)
  client/src/assets/compass.svg
  client/src/assets/google.svg
  client/src/assets/position-button.svg
  client/src/assets/position-marker.svg
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Change center user zoom
  client/src/components/GoogleMaps.vue
Labels: frontend

No zoom on app init
  client/src/components/GoogleMaps.vue
Labels: frontend

Show loading user coordinates
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/store/store-user.ts
Labels: frontend

Add spinner
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
Labels: frontend

Add leaderboard date backend
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: backend

Add date-fns
  client/package-lock.json
  client/package.json
  client/src/components/UserLeaderboard.vue
Labels: frontend, package.json

Show loading user coordinates (#273)
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-user.ts
Labels: frontend

No zoom on app init (#270)
  client/src/components/GoogleMaps.vue
Labels: frontend

Add leaderboard date-span in backend (#274)
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: backend

Add dayjs
  client/package-lock.json
  client/package.json
  client/src/components/UserLeaderboard.vue
Labels: frontend, package.json

Add leaderboard navigation
  client/src/assets/scss/_style.scss
  client/src/components/UserLeaderboard.vue
  client/src/plugins/dayjs.ts
  client/src/store/store-user.ts
Labels: frontend

Add dayjs library (#276)
  client/package-lock.json
  client/package.json
  client/src/assets/scss/_style.scss
  client/src/components/UserLeaderboard.vue
  client/src/plugins/dayjs.ts
  client/src/store/store-user.ts
Labels: frontend, package.json

Add force update on Google Maps
  client/src/components/GoogleMaps.vue
Labels: frontend

Router view keep-alive
  client/src/App.vue
Labels: frontend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
