Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Add nullish coalescing operator in User view
  client/src/views/User.vue
Labels: frontend

Update nullish coalescing operator
  client/src/views/User.vue
Labels: frontend

Remove nullish op as not supported by node v12
  client/src/views/User.vue
Labels: frontend

Add null operator in User view (#140)
  client/src/views/User.vue
Labels: frontend

Rename modal to popup and panel
  client/src/App.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Popup.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/constants.ts
  client/src/store/store-popup.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store.ts
Labels: frontend

Add camelcase middleware
  client/src/store/store-scan.ts
  server/.nvmrc
  server/index.js
  server/package-lock.json
  server/package.json
  server/src/utils.js
  server/swagger.js
Labels: frontend, backend, package.json

Rename modal to popup and panel (#141)
  client/src/App.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Popup.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/constants.ts
  client/src/store/store-popup.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store.ts
Labels: frontend

Add camelcase middleware (#144)
  client/src/store/store-scan.ts
  server/.nvmrc
  server/index.js
  server/package-lock.json
  server/package.json
  server/src/utils.js
  server/swagger.js
Labels: frontend, backend, package.json

Add camelcase middleware
  client/src/store/store-scan.ts
  server/.nvmrc
  server/index.js
  server/package-lock.json
  server/package.json
  server/src/utils.js
  server/swagger.js
Labels: frontend, backend, package.json

Indicate qrspots collected
  client/src/assets/position-button.svg
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
  client/src/components/GoogleMaps.vue
  client/src/utils.ts
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: frontend, backend

Indicate qrspots collected (#143)
  client/src/assets/position-button.svg
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
  client/src/components/GoogleMaps.vue
  client/src/utils.ts
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: frontend, backend

Run security also once a month grouped
  .github/renovate.json
Labels: github

Remove only once a month
  .github/renovate.json
Labels: github

Update renovate.json
  .github/renovate.json
Labels: github

Run security grouped (#145)
  .github/renovate.json
Labels: github

Update SECURITY dependencies [SECURITY]
  client/package-lock.json
  package-lock.json
Labels: frontend, package.json

Update renovate.json
  .github/renovate.json
Labels: github

Update renovate.json (#147)
  .github/renovate.json
Labels: github

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
  package-lock.json
Labels: frontend, package.json

Add user coords to store
  .nvmrc
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/plugins/achievements.ts
  client/src/store/store-scan.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
Labels: frontend

Add user coords to store (#151)
  .nvmrc
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/plugins/achievements.ts
  client/src/store/store-scan.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
Labels: frontend

Add files via upload
  client/public/print-qr-code.pdn
  client/public/print-qr-code.png
Labels: frontend

Add release - deploy actions
  .github/release-drafter.yml
Labels: github

Add deploy action
  .github/workflows/deploy.yml
Labels: github

Update build.yml
  .github/workflows/build.yml
Labels: github

Create release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Add release - deploy actions (#155)
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release-drafter.yml
Labels: github

Add printable qr code (#153)
  client/public/print-qr-code.pdn
  client/public/print-qr-code.png
Labels: frontend

Fix user view name change
  client/src/views/User.vue
Labels: frontend

Fix user view name change (#157)
  client/src/views/User.vue
Labels: frontend

Update dependency lint-staged to v11
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update all non-major dependencies
  .github/workflows/rebase.yml
  .github/workflows/release-drafter.yml
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Pin dependencies
  .nvmrc
  server/.nvmrc
  server/package.json
Labels: backend, package.json

Update dependency dotenv to v10
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Update dependency eslint to v7
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update .nvmrc
  .nvmrc
Labels: none

Update .nvmrc
  server/.nvmrc
Labels: backend

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
Labels: frontend, package.json
