Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Add database migrations to README (#228)
  README.md
Labels: none

Add HA notification (#230)
  server/package-lock.json
  server/package.json
  server/passport.js
Labels: backend, package.json

Add indication on lvl up (#231)
  client/src/components/GoogleMaps.vue
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/store/store-user.ts
Labels: frontend

Add check user distance to qr-spot
  client/src/plugins/snackbar.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
  server/src/achievements.js
  server/src/qrcode/qrcode-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Add check user distance to qr-spot (#232)
  client/src/plugins/snackbar.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
  server/src/achievements.js
  server/src/qrcode/qrcode-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Notify all HA users
  server/passport.js
Labels: backend

Update approve-on-label.yml
  .github/workflows/approve-on-label.yml
Labels: github

Notify all HA users (#233)
  .github/workflows/approve-on-label.yml
  server/passport.js
Labels: backend, github

Increase delay for achievement popup
  client/src/plugins/achievements.ts
Labels: frontend

Set qrcode to NULL on deactivated qrspot
  server/src/qrspot/qrspot-model.js
Labels: backend

Increase delay for achievement popup (#238)
  client/src/plugins/achievements.ts
Labels: frontend

Set qrcode to NULL on deactivated qrspot (#240)
  server/src/qrspot/qrspot-model.js
Labels: backend

Add release notes popup
  client/src/App.vue
  client/src/components/Popup.vue
  client/src/components/SignIn.vue
  client/src/registerServiceWorker.ts
  client/src/utils.ts
  client/vue.config.js
Labels: frontend

Add release notes popup (#242)
  client/src/App.vue
  client/src/components/Popup.vue
  client/src/components/SignIn.vue
  client/src/registerServiceWorker.ts
  client/src/utils.ts
  client/vue.config.js
Labels: frontend

Remove friends
  client/src/components/UserFriends.vue
  client/src/views/User.vue
Labels: frontend

Update User.vue
  client/src/views/User.vue
Labels: frontend

Add more achievements
  server/index.js
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
  server/src/utils.js
Labels: backend

Add more achievements (#246)
  server/index.js
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
  server/src/utils.js
Labels: backend

Change pattern for bundle analyzer
  .github/workflows/bundle-analyzer.yml
Labels: github

Update bundle-analyzer.yml
  .github/workflows/bundle-analyzer.yml
Labels: github

Change pattern for bundle analyzer (#247)
  .github/workflows/bundle-analyzer.yml
Labels: github

Add more webfonts
  client/public/fontawesome/webfonts/fa-brands-400.eot
  client/public/fontawesome/webfonts/fa-brands-400.svg
  client/public/fontawesome/webfonts/fa-brands-400.ttf
  client/public/fontawesome/webfonts/fa-brands-400.woff
  client/public/fontawesome/webfonts/fa-brands-400.woff2
  client/public/fontawesome/webfonts/fa-light-300.eot
  client/public/fontawesome/webfonts/fa-light-300.svg
  client/public/fontawesome/webfonts/fa-light-300.ttf
  client/public/fontawesome/webfonts/fa-light-300.woff
  client/public/fontawesome/webfonts/fa-light-300.woff2
Labels: frontend

Add fontawesome locally
  client/public/fontawesome/css/all.css
  client/public/fontawesome/webfonts/fa-regular-400.eot
  client/public/fontawesome/webfonts/fa-regular-400.svg
  client/public/fontawesome/webfonts/fa-regular-400.ttf
  client/public/fontawesome/webfonts/fa-regular-400.woff
  client/public/fontawesome/webfonts/fa-regular-400.woff2
  client/public/fontawesome/webfonts/fa-solid-900.eot
  client/public/fontawesome/webfonts/fa-solid-900.svg
  client/public/fontawesome/webfonts/fa-solid-900.ttf
  client/public/fontawesome/webfonts/fa-solid-900.woff
  client/public/fontawesome/webfonts/fa-solid-900.woff2
  client/public/index.html
Labels: frontend

Add fontawesome locally (#245)
  client/public/fontawesome/css/all.css
  client/public/fontawesome/webfonts/fa-brands-400.eot
  client/public/fontawesome/webfonts/fa-brands-400.svg
  client/public/fontawesome/webfonts/fa-brands-400.ttf
  client/public/fontawesome/webfonts/fa-brands-400.woff
  client/public/fontawesome/webfonts/fa-brands-400.woff2
  client/public/fontawesome/webfonts/fa-light-300.eot
  client/public/fontawesome/webfonts/fa-light-300.svg
  client/public/fontawesome/webfonts/fa-light-300.ttf
  client/public/fontawesome/webfonts/fa-light-300.woff
  client/public/fontawesome/webfonts/fa-light-300.woff2
  client/public/fontawesome/webfonts/fa-regular-400.eot
  client/public/fontawesome/webfonts/fa-regular-400.svg
  client/public/fontawesome/webfonts/fa-regular-400.ttf
  client/public/fontawesome/webfonts/fa-regular-400.woff
  client/public/fontawesome/webfonts/fa-regular-400.woff2
  client/public/fontawesome/webfonts/fa-solid-900.eot
  client/public/fontawesome/webfonts/fa-solid-900.svg
  client/public/fontawesome/webfonts/fa-solid-900.ttf
  client/public/fontawesome/webfonts/fa-solid-900.woff
  client/public/fontawesome/webfonts/fa-solid-900.woff2
  client/public/index.html
Labels: frontend

Fix night owl
  server/src/achievement/achievement-list.js
Labels: backend

Fix night owl (#248)
  server/src/achievement/achievement-list.js
Labels: backend

Update UserLeaderboard.vue
  client/src/components/UserLeaderboard.vue
Labels: frontend

Remove friends feat (#244)
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/views/User.vue
Labels: frontend

Update utils.ts
  client/src/utils.ts
Labels: frontend

Update utils.ts (#249)
  client/src/utils.ts
Labels: frontend

Change github actions release emoji
  .github/release-drafter.yml
Labels: github

Change github actions release emoji (#250)
  .github/release-drafter.yml
Labels: github

Fix introjs overflow and update steps
  client/src/plugins/intro.ts
Labels: frontend

Don't notify update in introjs
  client/src/utils.ts
Labels: frontend

Fix introjs overflow and update steps (#251)
  client/src/plugins/intro.ts
  client/src/utils.ts
Labels: frontend

Update user on login
  client/src/assets/scss/_variables.scss
  client/src/components/UserLeaderboard.vue
  server/passport.js
  server/src/user/user-model.js
Labels: frontend, backend

Formatting
  server/passport.js
Labels: backend

Update user on login (#253)
  client/src/assets/scss/_variables.scss
  client/src/components/UserLeaderboard.vue
  server/passport.js
  server/src/user/user-model.js
Labels: frontend, backend

Return correct http status
  server/src/achievement/achievement-middleware.js
Labels: backend

Fix Jan
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
  server/src/utils.js
Labels: backend
