Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
Labels: frontend, package.json

Add github deploy
  .github/deploy
Labels: github

Add github deploy (#163)
  .github/deploy
Labels: github

Add test environment actions
  .github/deploy
  .github/workflows/test-env-deploy.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update deploy
  .github/deploy
Labels: github

Update test-env-deploy.yml
  .github/workflows/test-env-deploy.yml
Labels: github

Update test-env-deploy.yml
  .github/workflows/test-env-deploy.yml
Labels: github

Update deploy.yml
  .github/workflows/deploy.yml
Labels: github

Update test-env-remove.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update deploy.yml (#165)
  .github/workflows/deploy.yml
Labels: github

Add test environment actions (#164)
  .github/deploy
  .github/workflows/test-env-deploy.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update test-env-remove.yml
  .github/workflows/test-env-remove.yml
Labels: github

Remove branch after test env (#166)
  .github/workflows/test-env-remove.yml
Labels: github

Update test-env-remove
  .github/workflows/test-env-remove.yml
Labels: github

Fix test-env checkout branch
  .github/workflows/test-env-remove.yml
Labels: github

Fix test-env-remove checkout branch (#168)
  .github/workflows/test-env-remove.yml
Labels: github

Update renovate.json
  .github/renovate.json
Labels: github

Update renovate.json
  .github/renovate.json
Labels: github

Renovate Schedule Vulnerability Alerts (#170)
  .github/renovate.json
Labels: github

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Pin Node.js to v12.22.1
  .nvmrc
  server/.nvmrc
Labels: backend

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency eslint-plugin-vue to v7
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update dependency prettier to v2
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency camelcase-keys to v7
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Update dependency sass-loader to v12
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update dependency eslint-plugin-promise to v5
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Add eventbus emit qrspots update
  client/src/store/store-scan.ts
Labels: frontend

Add eventbus emit qrspots update (#177)
  client/src/store/store-scan.ts
Labels: frontend

Update user xp text
  client/src/views/User.vue
Labels: frontend

Small achievements size
  client/src/views/User.vue
Labels: frontend

Remove text shadow
  client/src/views/User.vue
Labels: frontend

Small achievements size (#179)
  client/src/views/User.vue
Labels: frontend

Smaller user xp text and xp-suffix (#178)
  client/src/views/User.vue
Labels: frontend

Add more achievements
  server/src/achievements.js
Labels: backend

Update achievements.js
  server/src/achievements.js
Labels: backend

Fix qrcode encoding
  client/src/store/store-scan.ts
Labels: frontend

Add more achievements (#183)
  client/src/store/store-scan.ts
  server/src/achievements.js
Labels: frontend, backend

Update qrspot note varchar length to 500
  server/migrations/20210707-qrspots-note-length.sql
  server/schema.sql
Labels: backend

Update qrspotview to textarea
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
Labels: frontend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
