Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Add function for streak explaination
  client/src/components/GoogleMaps.vue
Labels: frontend

chore(sentry): whitelist prod urls
  client/src/plugins/sentry.ts
  server/sentry.js
Labels: frontend, backend

whitelist service workers
  client/src/plugins/sentry.ts
  client/src/registerServiceWorker.ts
Labels: frontend

feat(achievement): signed_up
  server/src/achievement/achievement-list.js
Labels: backend

chore(sentry): whitelist prod urls (#405)
  client/src/plugins/sentry.ts
  client/src/registerServiceWorker.ts
  server/sentry.js
Labels: frontend, backend

feat(achievement): signed_up (#406)
  server/src/achievement/achievement-list.js
Labels: backend

feat(achievement): leet
  server/src/achievement/achievement-list.js
Labels: backend

feat(achievement): leet (#407)
  server/src/achievement/achievement-list.js
Labels: backend

Modify streak days to count from yesterday
  server/src/user/user-model.js
Labels: backend

fix/leet-achievement
  server/src/achievement/achievement-list.js
Labels: backend

fix(achievement): leet (#408)
  server/src/achievement/achievement-list.js
Labels: backend

feat(streak): add new streak design (#404)
  client/src/components/Flame.vue
  client/src/components/GoogleMaps.vue
  server/src/user/user-model.js
Labels: frontend, backend

feat(streak): make it not reset every month
  server/src/user/user-model.js
Labels: backend

feat(streak): make it not reset every month (#410)
  server/src/user/user-model.js
Labels: backend

fix(transaction): isolation
  client/src/store/store-user.ts
  server/src/qrshard/qrshard-model.js
Labels: frontend, backend

fix
  server/src/qrshard/qrshard-model.js
Labels: backend

fix(transaction): isolation (#411)
  client/src/store/store-user.ts
  server/src/qrshard/qrshard-model.js
Labels: frontend, backend

feat(qrspot): update location
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-qr-spot.ts
  client/src/store/store-user.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

remove logs
  client/src/store/store-qr-spot.ts
Labels: frontend

feat(qrspot): update location (#412)
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-qr-spot.ts
  client/src/store/store-user.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
