Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, npm, migration

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
npm:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
migration:
  - server/migrations/*

camera id to database
  client/src/components/QRScanner.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  server/migrations/20240819-user-camera.sql
  server/schema.sql
  server/src/user/user-model.js
Labels: frontend, backend, migration

find camera
  client/src/components/QRScanner.vue
  client/src/utils.ts
Labels: frontend

revert database
  client/src/components/QRScanner.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/utils.ts
  server/migrations/20240819-user-camera.sql
  server/schema.sql
  server/src/user/user-model.js
Labels: frontend, backend, migration

style
  client/src/utils.ts
Labels: frontend

fix(scanner): select correct camera (#472)
  client/src/components/QRScanner.vue
  client/src/components/UserSettings.vue
  client/src/utils.ts
Labels: frontend

feat(achievements): add new years day
  server/src/achievement/achievement-cal.json
Labels: backend

feat(achievements): add new years day (#493)
  server/src/achievement/achievement-cal.json
Labels: backend

feat(distance): max collect distance
  server/src/user/user-route.js
Labels: backend

feat(distance): max collect distance (#494)
  server/src/user/user-route.js
Labels: backend

chore(node): upgrade v22
  .github/deploy
  .nvmrc
  package-lock.json
  server/.nvmrc
  server/package-lock.json
  server/package.json
Labels: backend, github, npm

chore(node): upgrade server v22 (#495)
  .github/deploy
  .nvmrc
  package-lock.json
  server/.nvmrc
  server/package-lock.json
  server/package.json
Labels: backend, github, npm

feat: missing qrspot
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpotUpdate.vue
  server/migrations/20250208-qrspots-missing.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend, migration

other icon
  client/src/components/GoogleMaps.vue
Labels: frontend

feat: missing qrspot (#496)
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpotUpdate.vue
  server/migrations/20250208-qrspots-missing.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend, migration

feat(icon): new missing spot marker icon
  client/package.json
  client/src/assets/qr-spot-marker--missing.svg
  client/src/components/GoogleMaps.vue
Labels: frontend, npm

feat(icon): new missing spot marker icon (#497)
  client/package.json
  client/src/assets/qr-spot-marker--missing.svg
  client/src/components/GoogleMaps.vue
Labels: frontend, npm

fix: correct node version
  client/package.json
Labels: frontend, npm

fix: correct node version (#498)
  client/package.json
Labels: frontend, npm
