Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

add event type auth change
  client/src/App.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/plugins/welcome.ts
  client/src/store/store-user.ts
Labels: frontend

feat(admin): add is_admin for qrspots (#376)
  client/src/components/QRSpot.vue
  server/migrations/20220604-user-is-admin.sql
  server/schema.sql
  server/src/qrcode/qrcode-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/user/user-model.js
  server/src/utils.js
Labels: frontend, backend

dont show first app update
  client/src/plugins/welcome.ts
  client/src/utils.ts
Labels: frontend

remove achievement signed up
  server/src/achievement/achievement-list.js
Labels: backend

Update welcome.ts
  client/src/plugins/welcome.ts
Labels: frontend

feat(welcome): add welcome popup (#377)
  client/src/App.vue
  client/src/constants.ts
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/welcome.ts
  client/src/store/store-user.ts
  client/src/utils.ts
  server/src/achievement/achievement-list.js
Labels: frontend, backend

feat(app-version): subtle notification
  client/src/App.vue
  client/src/components/Footer.vue
  client/src/utils.ts
Labels: frontend

feat(app-version): subtle notification (#380)
  client/src/App.vue
  client/src/components/Footer.vue
  client/src/utils.ts
Labels: frontend

fix(store): undefined
  client/src/components/Footer.vue
Labels: frontend

fix(store): undefined (#381)
  client/src/components/Footer.vue
Labels: frontend

Add a progress bar
  client/src/components/UserProgress.vue
  client/src/views/User.vue
Labels: frontend

Add i18n and add translation files
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/index.js
  client/src/locales/sv.json
  client/src/main.ts
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
  server/package-lock.json
Labels: frontend, backend, package.json

feat(html): add manifest link
  client/public/index.html
Labels: frontend

feat(portrait): force portrait orientation hack
  client/src/assets/scss/_style.scss
Labels: frontend

feat(html): add manifest link (#384)
  client/public/index.html
Labels: frontend

Add i18n and add translation files
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/index.js
  client/src/locales/sv.json
  client/src/main.ts
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
  server/package-lock.json
Labels: frontend, backend, package.json

Add streak count
  client/src/App.vue
  client/src/assets/fonts/Syne/OFL.txt
  client/src/assets/fonts/Syne/Syne-Regular.ttf
  client/src/components/GoogleMaps.vue
  server/src/user/user-model.js
Labels: frontend, backend

feat(locales): add i18n and add translation files (#387)
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/index.js
  client/src/locales/sv.json
  client/src/main.ts
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
  server/package-lock.json
Labels: frontend, backend, package.json

Remove .test-class
  client/src/components/GoogleMaps.vue
Labels: frontend

feat(streak): add streak count (#386)
  client/src/App.vue
  client/src/assets/fonts/Syne/OFL.txt
  client/src/assets/fonts/Syne/Syne-Regular.ttf
  client/src/components/GoogleMaps.vue
  server/src/user/user-model.js
Labels: frontend, backend

feat(locales): structure translations based on feature
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/views/User.vue
Labels: frontend

Change default locale
  client/src/plugins/i18n.ts
  client/vue.config.js
Labels: frontend

feat(locales): structure translations based on feature (#389)
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
Labels: frontend

fix errors
  client/package-lock.json
  client/src/components/Footer.vue
  server/package-lock.json
Labels: frontend, backend, package.json

feat(qrshard): prevent if already exists
  client/src/utils.ts
  server/package-lock.json
  server/package.json
  server/src/qrshard/qrshard-model.js
Labels: frontend, backend, package.json

feat(qrshard): prevent if already exists (#394)
  client/src/utils.ts
  server/package-lock.json
  server/package.json
  server/src/qrshard/qrshard-model.js
Labels: frontend, backend, package.json

feat(qrshard): already exists 403 errorcode
  server/src/qrshard/qrshard-model.js
  server/src/qrshard/qrshard-route.js
Labels: backend

rename
  server/src/qrshard/qrshard-model.js
Labels: backend

feat(qrshard): already exists 403 errorcode (#396)
  server/src/qrshard/qrshard-model.js
  server/src/qrshard/qrshard-route.js
Labels: backend

fix(leaderboard): month index
  client/src/components/UserLeaderboard.vue
Labels: frontend

fix(leaderboard): month index (#397)
  client/src/components/UserLeaderboard.vue
Labels: frontend

fix(renovate): pin passport 0.5.X
  .github/renovate.json
Labels: github

fix(renovate): pin passport 0.5.X (#401)
  .github/renovate.json
Labels: github

fix(level-up): check if lvl not undefined
  client/src/store/store-user.ts
Labels: frontend

fix(level-up): check if lvl not undefined (#402)
  client/src/store/store-user.ts
Labels: frontend

feat(camera): find camera with flash
  client/src/components/QRScanner.vue
Labels: frontend

fix check
  client/src/components/QRScanner.vue
Labels: frontend

set default -1
  client/src/components/QRScanner.vue
Labels: frontend

update lock file
  .github/deploy
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, github, package.json

New flame design
  client/src/components/Flame.vue
  client/src/components/GoogleMaps.vue
Labels: frontend
