Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Fix feedback
  client/src/components/QRSpotUpdate.vue
Labels: frontend

Add friends
  client/src/store/store-friends.ts
  client/src/store/store.ts
  client/src/views/User.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Add friends (#188)
  client/src/store/store-friends.ts
  client/src/store/store.ts
  client/src/views/User.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Change qrspot description textarea and limit (#185)
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  server/migrations/20210707-qrspots-note-length.sql
  server/schema.sql
Labels: frontend, backend

Update deploy
  .github/deploy
Labels: github

Add confirmation on delete-me
  client/src/views/User.vue
Labels: frontend

Update github deploy fix cp env (#189)
  .github/deploy
Labels: github

Add confirmation on delete-me (#190)
  client/src/views/User.vue
Labels: frontend

Use rsync instead of cp in deploy
  .github/deploy
Labels: github

Use rsync instead of cp in deploy (#191)
  .github/deploy
Labels: github

Updates users sql syntax
  server/src/user/user-model.js
Labels: backend

Updates users sql syntax (#192)
  server/src/user/user-model.js
Labels: backend

Apply dark theme
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/Popup.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/views/User.vue
Labels: frontend

Update Footer.vue
  client/src/components/Footer.vue
Labels: frontend

Apply dark theme (#193)
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/Popup.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/views/User.vue
Labels: frontend

Add app version
  client/.nvmrc
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/vue.config.js
Labels: frontend

Remove qrcode canvas
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
Labels: frontend, package.json

Set github action fetch-depth zero
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
Labels: github

Remove data in footer
  client/src/components/Footer.vue
Labels: frontend

Update package-lock
  client/package-lock.json
Labels: frontend, package.json

Remove qrcode canvas (#195)
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
Labels: frontend, package.json

Add intro.js
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/intro.ts
  client/src/views/User.vue
  server/passport.js
  server/src/auth/auth.js
  server/src/user/user-model.js
Labels: frontend, backend, package.json

Update package
  client/package-lock.json
  client/package.json
  client/src/plugins/intro.ts
Labels: frontend, package.json

Fix achievements
  client/src/plugins/achievements.ts
Labels: frontend

Rename class
  client/src/plugins/intro.ts
  client/src/views/User.vue
Labels: frontend

Minor additional steps in intro
  client/src/plugins/intro.ts
  client/src/views/User.vue
Labels: frontend

Add more steps in intro
  client/src/plugins/intro.ts
  client/src/views/User.vue
Labels: frontend

Add intro.js (#136)
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/intro.ts
  client/src/views/User.vue
  server/passport.js
  server/src/auth/auth.js
  server/src/user/user-model.js
Labels: frontend, backend, package.json

Add app version (#194)
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  client/.nvmrc
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/vue.config.js
Labels: frontend, github

Update readme node and db
  README.md
Labels: none

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Update release-drafter (#198)
  .github/release-drafter.yml
Labels: github

Update readme node and db (#197)
  README.md
Labels: none

Update pr-labeler.yml
  .github/pr-labeler.yml
Labels: github

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Update pr-labeler.yml (#199)
  .github/pr-labeler.yml
  .github/release-drafter.yml
Labels: github

Add migrations script to run on install
  .gitignore
  server/migrations/20210411-qrshards-constraint.sql
  server/migrations/migrate.sh
  server/package.json
Labels: backend, package.json

Remove illegal option -s
  server/migrations/migrate.sh
Labels: backend

Echo output
  server/migrations/migrate.sh
Labels: backend

Add hint to migrate in npm install
  package.json
  server/migrations/migrate.sh
  server/migrations/run.sh
  server/package.json
Labels: backend, package.json
