Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Add env to github build
  .github/workflows/build.yml
Labels: github

Add env to github build (#1)
  .github/workflows/build.yml
Labels: github

Add database schema
  codecov.yml
  server/create-schema.sql
  server/index.js
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Add database schema (#2)
  codecov.yml
  server/create-schema.sql
  server/index.js
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Add models, routes and authentication
  README.md
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/passport.js
  server/routes.js
Labels: backend, package.json

Add models, routes and authentication (#3)
  README.md
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/passport.js
  server/routes.js
Labels: backend, package.json

Add qr code model
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/qrcode.js
  server/package-lock.json
  server/package.json
  server/routes.js
Labels: backend, package.json

Add qr code model (#4)
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/qrcode.js
  server/package-lock.json
  server/package.json
  server/routes.js
Labels: backend, package.json

Apply new geocache model
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/qrcode.js
  server/models/user.js
  server/routes.js
Labels: backend

Apply new geocache model (#5)
  server/create-schema.sql
  server/index.js
  server/models/geocache.js
  server/models/qrcode.js
  server/models/user.js
  server/routes.js
Labels: backend

Update geocache method
  server/models/geocache.js
  server/routes.js
Labels: backend

Update geocache method (#6)
  server/models/geocache.js
  server/routes.js
Labels: backend

Add created_at to schema
  server/create-schema.sql
Labels: backend

Add created_at to schema (#7)
  server/create-schema.sql
Labels: backend

Restructure routes
  server/index.js
  server/passport.js
  server/routes.js
  server/routes/auth.js
  server/routes/geocaches.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: backend

Restructure routes (#8)
  server/index.js
  server/passport.js
  server/routes.js
  server/routes/auth.js
  server/routes/geocaches.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: backend

Camel-case schema
  server/create-schema.sql
Labels: backend

Camel-case schema (#9)
  server/create-schema.sql
Labels: backend

Create model and routes for GeocacheCollected
  server/index.js
  server/models/geocacheCollected.js
  server/models/user.js
  server/routes/geocachesCollected.js
Labels: backend

Create model and routes for GeocacheCollected (#10)
  server/index.js
  server/models/geocacheCollected.js
  server/models/user.js
  server/routes/geocachesCollected.js
Labels: backend

Add delete user method
  server/models/user.js
  server/routes/users.js
Labels: backend

Add delete user method (#11)
  server/models/user.js
  server/routes/users.js
Labels: backend

Add model utils
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/utils.js
Labels: backend

Add model utils (#12)
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/utils.js
Labels: backend

Fix module exports
  server/models/utils.js
Labels: backend

Fix module exports (#13)
  server/models/utils.js
Labels: backend

Add debug qr textfield
  client/src/components/QRScanner.vue
Labels: frontend

Add debug qr textfield (#14)
  client/src/components/QRScanner.vue
Labels: frontend

Change link for api fetch
  client/vue.config.js
  server/routes/auth.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: frontend, backend

Show markers on map
  client/src/components/GoogleMaps.vue
Labels: frontend

Change link for api fetch (#16)
  client/vue.config.js
  server/routes/auth.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: frontend, backend

Show markers on map (#17)
  client/src/components/GoogleMaps.vue
Labels: frontend

Watch user position
  client/src/components/GoogleMaps.vue
Labels: frontend

Move @types
  client/src/@types/qr-scanner.d.ts
  client/src/@types/shims-tsx.d.ts
  client/src/@types/shims-vue.d.ts
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/GoogleMaps.vue
  client/tsconfig.json
Labels: frontend

Formatting
  client/src/main.ts
  client/src/router.ts
  client/src/store.ts
Labels: frontend

Rename sql schema
  server/schema.sql
Labels: backend

Collect geocache
  client/src/components/QRScanner.vue
  server/models/geocacheCollected.js
  server/routes/auth.js
  server/routes/geocachesCollected.js
  server/routes/users.js
Labels: frontend, backend

Watch user position (#15)
  client/src/@types/qr-scanner.d.ts
  client/src/@types/shims-tsx.d.ts
  client/src/@types/shims-vue.d.ts
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/GoogleMaps.vue
  client/src/main.ts
  client/src/router.ts
  client/src/store.ts
  client/tsconfig.json
Labels: frontend

Collect geocache (#19)
  client/src/components/QRScanner.vue
  server/models/geocacheCollected.js
  server/routes/auth.js
  server/routes/geocachesCollected.js
  server/routes/users.js
Labels: frontend, backend

Rename sql schema (#18)
  server/schema.sql
Labels: backend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
