Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Add zoom buttons
  client/src/components/GoogleMaps.vue
Labels: frontend

Add timeout user view
  client/src/App.vue
  client/src/views/User.vue
Labels: frontend

Fix center map on cached position
  client/src/components/GoogleMaps.vue
Labels: frontend

Add timeout user view (#301)
  client/src/App.vue
  client/src/views/User.vue
Labels: frontend

Add zoom buttons (#300)
  client/src/components/GoogleMaps.vue
Labels: frontend

Update GoogleMaps.vue
  client/src/components/GoogleMaps.vue
Labels: frontend

Fix center map on cached position (#302)
  client/src/components/GoogleMaps.vue
Labels: frontend

Move user-marker below spots
  client/src/components/GoogleMaps.vue
Labels: frontend

Add z-index
  client/src/components/GoogleMaps.vue
Labels: frontend

Fix format
  client/src/components/GoogleMaps.vue
Labels: frontend

Move user-marker below spots (#304)
  client/src/components/GoogleMaps.vue
Labels: frontend

Update GitHub Vulnerability Alerts [SECURITY] (#305)
  server/package-lock.json
Labels: backend, package.json

Fix husky
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Fix husky
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/assets/scss/_style.scss
  package.json
  server/package.json
Labels: frontend, backend, package.json

Fix husky (#306)
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/assets/scss/_style.scss
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Pin dependencies
  .nvmrc
  client/.nvmrc
  package.json
  server/.nvmrc
Labels: frontend, backend, package.json

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Unpin Node
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Update UserLeaderboard.vue
  client/src/components/UserLeaderboard.vue
Labels: frontend

Update UserLeaderboard.vue (#311)
  client/src/components/UserLeaderboard.vue
Labels: frontend

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, package.json

Pin Node.js to v12.22.7
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Update Node.js to v16
  .nvmrc
  client/.nvmrc
  client/package-lock.json
  client/package.json
  server/.nvmrc
  server/package.json
Labels: frontend, backend, package.json

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
  server/package-lock.json
Labels: frontend, backend, package.json

Pin Node.js to v12.22.8
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Redirect to map on QR Scan
  client/src/components/QRScanner.vue
Labels: frontend

Replace weekOfYear with isoWeek
  client/src/components/UserLeaderboard.vue
  client/src/plugins/dayjs.ts
Labels: frontend

Redirect to map on QR Scan (#320)
  client/src/components/QRScanner.vue
Labels: frontend

Replace weekOfYear with isoWeek (#321)
  client/src/components/UserLeaderboard.vue
  client/src/plugins/dayjs.ts
Labels: frontend

Hide leaderboard zero score
  client/src/components/UserLeaderboard.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Update user-model.js
  server/src/user/user-model.js
Labels: backend

Hide leaderboard zero score (#322)
  client/src/components/UserLeaderboard.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Add flash
  client/src/components/QRScanner.vue
Labels: frontend

Correct deviceId
  client/src/components/QRScanner.vue
Labels: frontend

Update QRScanner.vue
  client/src/components/QRScanner.vue
Labels: frontend

Add padding
  client/src/components/QRScanner.vue
Labels: frontend

Update QRScanner.vue
  client/src/components/QRScanner.vue
Labels: frontend

Add flash (#324)
  client/src/components/QRScanner.vue
Labels: frontend
