Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Update icons
  client/public/apple-touch-icon.png
  client/public/favicon.ico
  client/public/icons/favicon-16x16.png
  client/public/icons/favicon-192x192.png
  client/public/icons/favicon-32x32.png
  client/public/icons/favicon-512x512.png
Labels: frontend

Add event bus
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store/event-bus.ts
  client/src/store/store-qr-spot.ts
Labels: frontend

Update icons (#109)
  client/public/apple-touch-icon.png
  client/public/favicon.ico
  client/public/icons/favicon-16x16.png
  client/public/icons/favicon-192x192.png
  client/public/icons/favicon-32x32.png
  client/public/icons/favicon-512x512.png
Labels: frontend

Add event bus (#110)
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store/event-bus.ts
  client/src/store/store-qr-spot.ts
Labels: frontend

Add collectable once each day
  client/src/store/store-scan.ts
  server/models/qrshard.js
  server/models/qrspot.js
  server/routes/scan.js
  server/schema.sql
  server/utils.js
Labels: frontend, backend

Add collectable once each day (#114)
  client/src/store/store-scan.ts
  server/models/qrshard.js
  server/models/qrspot.js
  server/routes/scan.js
  server/schema.sql
  server/utils.js
Labels: frontend, backend

Edit QR Spot, assigned only
  server/index.js
  server/migrations/20210227-achievements-popup.sql
  server/migrations/20210227-qrshards-rating.sql
  server/migrations/20210411-qrshards-constraint-sql.sql
  server/migrations/20210425-users-username.sql
  server/passport.js
  server/schema.sql
  server/src/achievements.js
  server/src/auth/auth.js
  server/src/qrcode/qrcode-model.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
  server/swagger.js
Labels: backend

Edit QR Spot, assigned only (#115)
  server/index.js
  server/migrations/20210227-achievements-popup.sql
  server/migrations/20210227-qrshards-rating.sql
  server/migrations/20210411-qrshards-constraint-sql.sql
  server/migrations/20210425-users-username.sql
  server/passport.js
  server/schema.sql
  server/src/achievements.js
  server/src/auth/auth.js
  server/src/qrcode/qrcode-model.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
  server/swagger.js
Labels: backend

Update create and edit form
  client/src/assets/scss/_style.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/UpdateSpot.vue
  client/src/store/store-qr-spot.ts
Labels: frontend

Update create and edit form (#116)
  client/src/assets/scss/_style.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/UpdateSpot.vue
  client/src/store/store-qr-spot.ts
Labels: frontend

Add QR Spot owner
  client/src/store/store-qr-spot.ts
  server/migrations/20210425-qrspots-rename-owner.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: frontend, backend

Add QR Spot owner (#117)
  client/src/store/store-qr-spot.ts
  server/migrations/20210425-qrspots-rename-owner.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: frontend, backend

Hide modals on QR Scan
  client/src/components/QRScanner.vue
Labels: frontend

Fix qrshards score
  server/src/user/user-model.js
Labels: backend

Fix QR Shard order by
  server/src/qrshard/qrshard-model.js
Labels: backend

Hide modals on QR Scan (#118)
  client/src/components/QRScanner.vue
Labels: frontend

Fix qrshards score (#119)
  server/src/qrshard/qrshard-model.js
  server/src/user/user-model.js
Labels: backend

Rename approve label
  .github/workflows/approve-on-label.yml
Labels: github

Add ripple effect + Update user on scan
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/components/Modal.vue
  client/src/store/store-scan.ts
Labels: frontend

Update clickable elems GoogleMaps
  client/src/components/GoogleMaps.vue
Labels: frontend

Rename approve label (#120)
  .github/workflows/approve-on-label.yml
Labels: github

Add ripple effect + Update user on scan (#121)
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/components/Modal.vue
  client/src/store/store-scan.ts
Labels: frontend

Update dependency @types/jest to v26
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Restructure code
  client/src/App.vue
  client/src/assets/my-location.svg
  client/src/assets/qr-spot-marker.svg
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/constants.ts
  client/src/router.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store.ts
  client/src/views/Home.vue
  client/src/views/NotFound.vue
  client/src/views/User.vue
Labels: frontend

Restructure code (#122)
  client/src/App.vue
  client/src/assets/my-location.svg
  client/src/assets/qr-spot-marker.svg
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/constants.ts
  client/src/router.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store.ts
  client/src/views/Home.vue
  client/src/views/NotFound.vue
  client/src/views/User.vue
Labels: frontend

Pin dependencies
  server/package.json
Labels: backend, package.json

Update Node.js to v14
  client/package.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency stylelint-config-standard to v22
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency is-svg to 4.2.2 [SECURITY]
  client/package-lock.json
Labels: frontend, package.json

Update dependency ssri to 6.0.2 [SECURITY]
  client/package-lock.json
Labels: frontend, package.json

Update dependency @vue/eslint-config-typescript to v7
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Select QRSpot on collect
  client/src/components/GoogleMaps.vue
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/tsconfig.json
Labels: frontend

Select QRSpot on collect (#131)
  client/src/components/GoogleMaps.vue
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/tsconfig.json
Labels: frontend

Add well-known apk
  client/public/.well-known/assetlinks.json
Labels: frontend

Add well-known apk (#133)
  client/public/.well-known/assetlinks.json
Labels: frontend

Add app signing fingerprint
  client/public/.well-known/assetlinks.json
Labels: frontend

Add app signing fingerprint (#134)
  client/public/.well-known/assetlinks.json
Labels: frontend

Update dependency hosted-git-info to 2.8.9 [SECURITY]
  client/package-lock.json
  package-lock.json
Labels: frontend, package.json

Update dependency lodash to 4.17.21 [SECURITY]
  client/package-lock.json
Labels: frontend, package.json
