Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Update all non-major dependencies
  .github/workflows/assignee-to-reviewer.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Update actions/checkout action to v2
  .github/workflows/build.yml
Labels: github

Update actions/labeler action to v3
  .github/workflows/labeler.yml
Labels: github

Update actions/setup-node action to v2
  .github/workflows/build.yml
Labels: github

Update dependency @vue/eslint-config-standard to v6
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Update dependency elliptic to 6.5.4 [SECURITY]
  client/package-lock.json
Labels: frontend, package.json

Pin dependencies
  client/package-lock.json
  client/package.json
  package.json
  server/package.json
Labels: frontend, backend, package.json

Update all non-major dependencies
  .github/workflows/approve-on-label.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Add require node v12
  client/.npmrc
  client/package-lock.json
  client/package.json
  server/.npmrc
  server/package.json
Labels: frontend, backend, package.json

Set node version on bundle-analyzer
  .github/workflows/bundle-analyzer.yml
Labels: github

Add require node v12 (#94)
  .github/workflows/bundle-analyzer.yml
  client/.npmrc
  client/package-lock.json
  client/package.json
  server/.npmrc
  server/package.json
Labels: frontend, backend, github, package.json

Add swagger-ui
  README.md
  client/src/store.ts
  server/index.js
  server/migrations/qrshards-constraint-sql.sql
  server/models/qrcode.js
  server/models/qrshard.js
  server/models/qrspot.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/routes/qrcodes.js
  server/routes/qrshards.js
  server/routes/qrspots.js
  server/routes/scan.js
  server/swagger.js
Labels: frontend, backend, package.json

Update qrshards.js
  server/routes/qrshards.js
Labels: backend

Update README.md
  README.md
Labels: none

Add swagger-ui (#95)
  README.md
  client/src/store.ts
  server/index.js
  server/migrations/qrshards-constraint-sql.sql
  server/models/qrcode.js
  server/models/qrshard.js
  server/models/qrspot.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/routes/qrcodes.js
  server/routes/qrshards.js
  server/routes/qrspots.js
  server/routes/scan.js
  server/swagger.js
Labels: frontend, backend, package.json

Update swagger.js
  server/swagger.js
Labels: backend

Update swagger.js (#96)
  server/swagger.js
Labels: backend

Update marker icons
  client/src/assets/position-marker.svg
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Update marker icons (#97)
  client/src/assets/position-marker.svg
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

Add location circle and hide poi business
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Update issue templates (#98)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

Add location circle and hide poi business (#99)
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: frontend

Add zoom to center map
  client/src/components/GoogleMaps.vue
Labels: frontend

Add achievement popup
  client/src/assets/scss/_style.scss
  client/src/components/User.vue
  client/src/plugins/achievements.ts
Labels: frontend

Add zoom to center map (#100)
  client/src/components/GoogleMaps.vue
Labels: frontend

Add achievement popup (#101)
  client/src/assets/scss/_style.scss
  client/src/components/User.vue
  client/src/plugins/achievements.ts
Labels: frontend

Add create form
  client/src/assets/spinner.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store.ts
Labels: frontend

Restructure store
  client/.eslintrc.js
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/constans.ts
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/store.ts
  client/src/store/store-achievements.ts
  client/src/store/store-auth.ts
  client/src/store/store-modal.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store.ts
Labels: frontend

Shorten spinner svg
  client/src/assets/spinner.svg
Labels: frontend

Use snackbar custom plugin
  client/src/utils.ts
Labels: frontend

Formatting
  client/src/components/CurrentSpot.vue
Labels: frontend

Add create form (#103)
  client/.eslintrc.js
  client/src/assets/spinner.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/constans.ts
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/store.ts
  client/src/store/store-achievements.ts
  client/src/store/store-auth.ts
  client/src/store/store-modal.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store.ts
  client/src/utils.ts
Labels: frontend

Switch between view and edit mode for qrspot
  client/src/assets/scss/_style.scss
  client/src/components/CreateSpot.vue
  client/src/components/CurrentSpot.vue
  client/src/components/ViewSpot.vue
  client/src/utils.ts
Labels: frontend

Add new icon
  client/public/apple-touch-icon.png
  client/public/favicon.ico
  client/public/icons/favicon-16x16.png
  client/public/icons/favicon-192x192.png
  client/public/icons/favicon-32x32.png
  client/public/icons/favicon-512x512.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-192x192.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/favicon-512x512.png
  client/public/index.html
  client/public/logo.svg
  client/public/manifest.json
  client/src/components/Header.vue
Labels: frontend

Switch between view and edit mode for qrspot (#105)
  client/src/assets/scss/_style.scss
  client/src/components/CreateSpot.vue
  client/src/components/CurrentSpot.vue
  client/src/components/ViewSpot.vue
  client/src/utils.ts
Labels: frontend

Add new icon (#106)
  client/public/apple-touch-icon.png
  client/public/favicon.ico
  client/public/icons/favicon-16x16.png
  client/public/icons/favicon-192x192.png
  client/public/icons/favicon-32x32.png
  client/public/icons/favicon-512x512.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-192x192.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/favicon-512x512.png
  client/public/index.html
  client/public/logo.svg
  client/public/manifest.json
  client/src/components/Header.vue
Labels: frontend

Update manifest.json
  client/public/manifest.json
Labels: frontend

Update manifest.json (#108)
  client/public/manifest.json
Labels: frontend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
