Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Fix server route index
  server/index.js
Labels: backend

Fix server route index (#59)
  server/index.js
Labels: backend

Add missing Login import
  client/src/App.vue
Labels: frontend

Add missing Login import (#60)
  client/src/App.vue
Labels: frontend

Add webpack bundle analyzer
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Add snackbar
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/app.scss
  client/src/assets/scss/placeholder.scss
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/plugins/custom-fetch.ts
Labels: frontend

Add thankful achievement
  client/src/App.vue
  client/src/components/Login.vue
  client/src/plugins/custom-fetch.ts
  server/achievements.js
Labels: frontend, backend

Add db pull script
  package.json
  server/achievements.js
Labels: backend, package.json

Add webpack bundle analyzer
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Add db pull script
  package.json
  server/achievements.js
Labels: backend, package.json

Add thankful achievement
  client/src/App.vue
  client/src/components/Login.vue
  client/src/plugins/custom-fetch.ts
  server/achievements.js
Labels: frontend, backend

Add snackbar
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/app.scss
  client/src/assets/scss/placeholder.scss
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/plugins/custom-fetch.ts
Labels: frontend

Update manifest color
  client/public/manifest.json
Labels: frontend

Update manifest color (#63)
  client/public/manifest.json
Labels: frontend

Fix mobile height issue
  client/src/App.vue
Labels: frontend

Fix mobile height issue (#64)
  client/src/App.vue
Labels: frontend

Add and update icons
  client/src/App.vue
  client/src/assets/my-location.png
  client/src/assets/my-location.svg
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
Labels: frontend

Add and update icons (#65)
  client/src/App.vue
  client/src/assets/my-location.png
  client/src/assets/my-location.svg
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
Labels: frontend

Update QR Scanner
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/QRScanner.vue
  client/src/plugins/snackbar.ts
  client/src/store.ts
Labels: frontend

Extract handleQR
  client/src/components/QRScanner.vue
  client/src/plugins/custom-fetch.ts
  client/src/store.ts
Labels: frontend

Update QR Scanner (#66)
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/QRScanner.vue
  client/src/plugins/custom-fetch.ts
  client/src/plugins/snackbar.ts
  client/src/store.ts
Labels: frontend

Fix overflow
  client/src/components/QRScanner.vue
Labels: frontend

Fix overflow (#67)
  client/src/components/QRScanner.vue
Labels: frontend

Fix QRScanner inverted
  client/src/components/QRScanner.vue
Labels: frontend

Fix QRScanner inverted (#72)
  client/src/components/QRScanner.vue
Labels: frontend

Add delete me
  client/.eslintrc.js
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/components/CurrentSpot.vue
  client/src/components/Footer.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/store.ts
  client/tsconfig.json
  package.json
Labels: frontend, package.json

Add delete me (#73)
  client/.eslintrc.js
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/components/CurrentSpot.vue
  client/src/components/Footer.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/store.ts
  client/tsconfig.json
  package.json
Labels: frontend, package.json

initial modal implementation
  client/src/App.vue
  client/src/components/Modal.vue
  client/src/store.ts
Labels: frontend

initial modal implementation (#77)
  client/src/App.vue
  client/src/components/Modal.vue
  client/src/store.ts
Labels: frontend

Add user-xp
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/store.ts
  client/src/utils.ts
  server/models/user.js
  server/routes/auth.js
  server/routes/users.js
Labels: frontend, backend

Add user-xp (#78)
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/store.ts
  client/src/utils.ts
  server/models/user.js
  server/routes/auth.js
  server/routes/users.js
Labels: frontend, backend

Fix header width and button cursor
  client/src/components/Header.vue
  client/src/components/Modal.vue
Labels: frontend

Refactor current spot with constant
  client/src/assets/distance.png
  client/src/assets/star.png
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store.ts
Labels: frontend

Refactor current spot with constant (#79)
  client/src/assets/distance.png
  client/src/assets/star.png
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store.ts
Labels: frontend

Fix header width and button cursor (#80)
  client/src/components/Header.vue
  client/src/components/Modal.vue
Labels: frontend

Add achievement popup
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/custom-fetch.ts
  client/src/store.ts
  client/src/utils.ts
  server/achievements.js
  server/migrations/achievements-popup.sql
  server/migrations/qrshards-rating.sql
  server/models/user.js
  server/schema.sql
Labels: frontend, backend

Add achievement popup (#81)
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/custom-fetch.ts
  client/src/store.ts
  client/src/utils.ts
  server/achievements.js
  server/migrations/achievements-popup.sql
  server/migrations/qrshards-rating.sql
  server/models/user.js
  server/schema.sql
Labels: frontend, backend

Fix snackbar
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/plugins/achievements.ts
Labels: frontend

Fix snackbar (#82)
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/plugins/achievements.ts
Labels: frontend

Add overflow scroll to user-wrapper
  client/src/components/User.vue
Labels: frontend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
