Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Add qrshard distance
  client/src/components/UserLeaderboard.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Update UserLeaderboard.vue
  client/src/components/UserLeaderboard.vue
Labels: frontend

Add qrshard distance (#325)
  client/src/components/UserLeaderboard.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend

Remove groupBy date
  client/src/components/UserLeaderboard.vue
  server/src/user/user-route.js
Labels: frontend, backend

Remove groupBy date (#326)
  client/src/components/UserLeaderboard.vue
  server/src/user/user-route.js
Labels: frontend, backend

Update GitHub Vulnerability Alerts [SECURITY]
  client/package-lock.json
Labels: frontend, package.json

Pin Node.js to v12.22.9
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Update workflows
  .github/workflows/bundle-analyzer.yml
Labels: github

Update workflows (#329)
  .github/workflows/bundle-analyzer.yml
Labels: github

Change font family
  client/src/views/User.vue
Labels: frontend

Change font family
  client/src/views/User.vue
Labels: frontend

Change xp font family
  client/src/views/User.vue
Labels: frontend

Change font size
  client/src/views/User.vue
Labels: frontend

Fix alignment
  client/src/views/User.vue
Labels: frontend

Add quotes
  client/src/views/User.vue
Labels: frontend

Change xp font family (#333)
  client/src/views/User.vue
Labels: frontend

Pin Node.js to v
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Update all non-major dependencies
  .github/workflows/release-drafter.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  .github/workflows/deploy.yml
  .github/workflows/rebase.yml
  .github/workflows/test-env-deploy.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update actions/download-artifact action to v3
  .github/workflows/deploy.yml
Labels: github

Update actions/labeler action to v4
  .github/workflows/labeler.yml
Labels: github

Update all non-major dependencies
  .github/workflows/approve-on-label.yml
  .github/workflows/release-drafter.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Add vue-ref to qrscan
  client/src/components/QRScanner.vue
Labels: frontend

Add vue-ref to qrscan (#341)
  client/src/components/QRScanner.vue
Labels: frontend

change loading location text
  client/src/components/GoogleMaps.vue
Labels: frontend

Change loading location text (#342)
  client/src/components/GoogleMaps.vue
Labels: frontend

Update all non-major dependencies
  .github/workflows/approve-on-label.yml
  .github/workflows/rebase.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

Update actions/setup-node action to v3
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
Labels: github

add dayjs
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-middleware.js
Labels: backend, package.json

add dayjs (#348)
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-middleware.js
Labels: backend, package.json

add user achievements count
  client/src/components/UserAchievements.vue
  server/migrations/20220523-achievements-level.sql
  server/migrations/20220523-user-achievements-count.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: frontend, backend

add user achievements count (#351)
  client/src/components/UserAchievements.vue
  server/migrations/20220523-achievements-level.sql
  server/migrations/20220523-user-achievements-count.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: frontend, backend

feat: sort leaderboard also by dist
  .github/pr-labeler.yml
  server/src/user/user-route.js
Labels: backend, github

feat: sort leaderboard also by dist (#352)
  .github/pr-labeler.yml
  server/src/user/user-route.js
Labels: backend, github

add ui for user achievements count
  client/src/components/UserAchievements.vue
Labels: frontend

add ui for user achievements count (#353)
  client/src/components/UserAchievements.vue
Labels: frontend

feat: google calendar events
  .gitignore
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-cal.json
  server/src/achievement/achievement-middleware.js
Labels: backend, package.json

update json
  server/src/achievement/achievement-cal.json
Labels: backend

feat repeatable functionality for user achievements
  server/migrations/20220528-achievements-repeatable.sql
  server/migrations/20220528-user-achievements-updated-at.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: backend

add check if achievement is null
  server/src/achievement/achievement-middleware.js
  server/src/utils.js
Labels: backend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
