Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Performance fix keep-alive (#280)
  client/src/App.vue
Labels: frontend

Add a back button on edit
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
Labels: frontend

Indicate recently collected
  .nvmrc
  client/.nvmrc
  client/src/assets/puff.svg
  client/src/components/GoogleMaps.vue
  client/src/utils.ts
  server/.nvmrc
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

Fix validate and isOwner
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-qr-spot.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

Indicate recently collected (#282)
  .nvmrc
  client/.nvmrc
  client/src/assets/puff.svg
  client/src/components/GoogleMaps.vue
  client/src/utils.ts
  server/.nvmrc
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

Add a back button on edit (#281)
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-qr-spot.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

Hide rating and increase font-size
  client/src/components/QRSpot.vue
  client/src/components/SignInGoogle.vue
  client/src/views/NotFound.vue
Labels: frontend

Fix color sign in
  client/src/components/SignIn.vue
Labels: frontend

Hide rating and responsive font-size (#283)
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/views/NotFound.vue
Labels: frontend

Update _style.scss
  client/src/assets/scss/_style.scss
Labels: frontend

Fix height vh
  client/src/assets/scss/_style.scss
Labels: frontend

Update _style.scss
  client/src/assets/scss/_style.scss
Labels: frontend

Update _style.scss
  client/src/assets/scss/_style.scss
Labels: frontend

Update _style.scss
  client/src/assets/scss/_style.scss
Labels: frontend

Update _style.scss
  client/src/assets/scss/_style.scss
Labels: frontend

Fix height procent
  client/src/assets/scss/_style.scss
Labels: frontend

App display fixed
  client/src/App.vue
  client/src/assets/scss/_style.scss
Labels: frontend

Refactor
  client/src/App.vue
  client/src/assets/scss/_style.scss
Labels: frontend

Add to homescreen
  client/public/index.html
Labels: frontend

Fix height issue in PWA (#285)
  client/src/App.vue
  client/src/assets/scss/_style.scss
Labels: frontend

Shard user ID
  server/src/qrspot/qrspot-model.js
Labels: backend

Shard user ID (#289)
  server/src/qrspot/qrspot-model.js
Labels: backend

Fix userId undefined
  server/src/qrspot/qrspot-model.js
Labels: backend

Fix userId undefined (#291)
  server/src/qrspot/qrspot-model.js
Labels: backend

Add sentry
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/sentry.ts
Labels: frontend, package.json

eslint-disable no-console
  client/src/plugins/sentry.ts
Labels: frontend

Add sentry in backend
  server/index.js
  server/package-lock.json
  server/package.json
  server/sentry.js
  server/src/achievement/achievement-middleware.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: backend, package.json

Do sentry on production
  server/index.js
  server/sentry.js
Labels: backend

Fix qrspot model for debug
  server/src/qrspot/qrspot-model.js
Labels: backend

Apply suggestions from code review
  client/src/plugins/sentry.ts
  server/sentry.js
Labels: frontend, backend

Update README.md
  README.md
Labels: none

Remove sentry tracing lib
  client/package-lock.json
  client/package.json
  client/src/plugins/sentry.ts
Labels: frontend, package.json

Add sentry (#292)
  README.md
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/sentry.ts
  server/index.js
  server/package-lock.json
  server/package.json
  server/sentry.js
  server/src/achievement/achievement-middleware.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: frontend, backend, package.json

Remove express lib from root
  package-lock.json
  package.json
Labels: package.json

Remove express lib from root (#293)
  package-lock.json
  package.json
Labels: package.json

Update dependency ansi-regex to 5.0.1 [SECURITY]
  server/package-lock.json
Labels: backend, package.json

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency node-fetch to v3
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Update GitHub Vulnerability Alerts [SECURITY]
  server/package-lock.json
Labels: backend, package.json

Pin Node.js to v12.22.6
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend
