Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Center first position
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
Labels: frontend

Center map first position (#20)
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
Labels: frontend

Add initial achievements middleware
  client/vue.config.js
  server/achievements.js
  server/index.js
  server/schema.sql
Labels: frontend, backend

Add auto remove label
  .github/workflows/approve-on-label.yml
Labels: github

Update approve-on-label.yml
  .github/workflows/approve-on-label.yml
Labels: github

Update action rebase
  .github/workflows/rebase.yml
Labels: github

Add auto remove label (#22)
  .github/workflows/approve-on-label.yml
Labels: github

Update action rebase (#23)
  .github/workflows/rebase.yml
Labels: github

Center map to user location button
  client/src/assets/my-location.png
  client/src/components/GoogleMaps.vue
Labels: frontend

Add example env
  .env.example
  client/.env.example
Labels: frontend

Add localstorage user coords
  client/src/components/GoogleMaps.vue
Labels: frontend

Center map to user location button (#24)
  client/src/assets/my-location.png
  client/src/components/GoogleMaps.vue
Labels: frontend

Add example env (#25)
  .env.example
  client/.env.example
Labels: frontend

Fix undefined coords
  client/src/components/GoogleMaps.vue
Labels: frontend

Fix undefined coords (#26)
  client/src/components/GoogleMaps.vue
Labels: frontend

Fix eslint
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/components/QRScanner.vue
  client/tsconfig.json
Labels: frontend, package.json

Eslint stuff
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/components/QRScanner.vue
  client/tsconfig.json
Labels: frontend, package.json

Eslint stuff
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/components/QRScanner.vue
Labels: frontend, package.json

Add missing pwa dependency
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Add missing pwa dependency (#30)
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Add google to eslint global
  client/src/@types/vue2-google-maps.d.ts
Labels: frontend

Add google to eslint global
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/QRScanner.vue
Labels: frontend

Add google to eslint global
  client/src/@types/vue2-google-maps.d.ts
Labels: frontend

Update eslint package versions
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/QRScanner.vue
  client/tsconfig.json
Labels: frontend, package.json

Update eslint package versions
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/QRScanner.vue
  client/tsconfig.json
Labels: frontend, package.json

Update eslint package versions
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/QRScanner.vue
Labels: frontend, package.json

Add initial achievements middleware (#21)
  client/vue.config.js
  server/achievements.js
  server/index.js
  server/schema.sql
Labels: frontend, backend

Revert eslintrc parserOptions
  client/.eslintrc.js
Labels: frontend

Fix errors
  client/package-lock.json
  client/src/@types/shims-tsx.d.ts
  client/src/@types/vue2-google-maps.d.ts
  client/src/components/QRScanner.vue
Labels: frontend, package.json

Fix req.user.id undefined error
  server/achievements.js
Labels: backend

Fix req.user.id undefined error (#34)
  server/achievements.js
Labels: backend

Add is authenticated to achievements
  server/achievements.js
Labels: backend

Add auth on routes
  server/index.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: backend

Add is authenticated to achievements (#35)
  server/achievements.js
Labels: backend

Add auth on routes (#36)
  server/index.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
Labels: backend

Refactor models with async await
  server/achievements.js
  server/index.js
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/qrcode.js
  server/models/user.js
  server/models/utils.js
  server/passport.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
  server/utils.js
Labels: backend

Refactor models with async await (#37)
  server/achievements.js
  server/index.js
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/qrcode.js
  server/models/user.js
  server/models/utils.js
  server/passport.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrcodes.js
  server/routes/users.js
  server/utils.js
Labels: backend

Rename geocache to qrspot and qrshard
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  server/index.js
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/qrshard.js
  server/models/qrspot.js
  server/passport.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrshards.js
  server/routes/qrspots.js
  server/schema.sql
Labels: frontend, backend

Rename geocache to qrspot and qrshard (#38)
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  server/index.js
  server/models/geocache.js
  server/models/geocacheCollected.js
  server/models/qrshard.js
  server/models/qrspot.js
  server/passport.js
  server/routes/geocaches.js
  server/routes/geocachesCollected.js
  server/routes/qrshards.js
  server/routes/qrspots.js
  server/schema.sql
Labels: frontend, backend

Add initial scan route
  server/index.js
  server/models/qrshard.js
  server/routes/scan.js
  server/schema.sql
Labels: backend
