Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

set count default zero
  server/migrations/20220523-user-achievements-count.sql
  server/migrations/20220528-achievements-repeatable.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: backend

formatting
  server/src/utils.js
Labels: backend

modify achievement create query
  server/migrations/20220523-user-achievements-count.sql
  server/migrations/20220528-user-achievements-updated-at.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: backend

sum achievement score
  server/src/user/user-model.js
Labels: backend

add info about credentials.json
  README.md
  server/src/achievement/achievement-cal.js
Labels: backend

feat repeatable functionality for user achievements (#356)
  server/migrations/20220523-user-achievements-count.sql
  server/migrations/20220528-achievements-repeatable.sql
  server/migrations/20220528-user-achievements-updated-at.sql
  server/schema.sql
  server/src/achievement/achievement-middleware.js
  server/src/achievement/achievement-model.js
  server/src/user/user-model.js
  server/src/utils.js
Labels: backend

feat: :sparkles: google calendar events (#355)
  .gitignore
  README.md
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-cal.json
  server/src/achievement/achievement-middleware.js
Labels: backend, package.json

Update early bird and night owl
  server/src/achievement/achievement-list.js
Labels: backend

update early bird and night owl hours (#357)
  server/src/achievement/achievement-list.js
Labels: backend

feat: order achievements by created date
  server/src/achievement/achievement-model.js
Labels: backend

fix: anti aliasing line
  client/src/components/UserAchievements.vue
Labels: frontend

fix: anti aliasing line (#359)
  client/src/components/UserAchievements.vue
Labels: frontend

feat: order achievements by created date (#358)
  server/src/achievement/achievement-model.js
Labels: backend

Update actions/upload-artifact action to v3
  .github/workflows/deploy.yml
Labels: github

Update all non-major dependencies
  .github/workflows/rebase.yml
  .github/workflows/release-drafter.yml
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, github, package.json

fix: introjs help tour
  client/src/views/NotFound.vue
  client/src/views/User.vue
Labels: frontend

fix: introjs help tour (#362)
  client/src/views/NotFound.vue
  client/src/views/User.vue
Labels: frontend

fix(passport): downgrade
  server/package-lock.json
  server/package.json
Labels: backend, package.json

fix(passport): downgrade (#365)
  server/package-lock.json
  server/package.json
Labels: backend, package.json

feat(achievement): add count to popup
  client/src/plugins/achievements.ts
Labels: frontend

update text
  client/src/plugins/achievements.ts
Labels: frontend

T H E
  client/src/plugins/achievements.ts
Labels: frontend

update text
  client/src/plugins/achievements.ts
Labels: frontend

Update client/src/plugins/achievements.ts
  client/src/plugins/achievements.ts
Labels: frontend

feat(achievement): add count to popup (#364)
  client/src/plugins/achievements.ts
Labels: frontend

fix typos
  client/src/assets/scss/_variables.scss
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/views/User.vue
Labels: frontend

fix typos (#366)
  client/src/assets/scss/_variables.scss
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/views/User.vue
Labels: frontend

feat(route): admin route
  server/index.js
  server/src/qrcode/qrcode-route.js
  server/src/utils.js
Labels: backend

feat(route): ✨ admin route (#367)
  server/index.js
  server/src/qrcode/qrcode-route.js
  server/src/utils.js
Labels: backend

feat(achievement): add found bug
  client/src/utils.ts
  server/index.js
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
Labels: frontend, backend

use boolean
  server/src/achievement/achievement-list.js
Labels: backend

feat(achievement): add found bug (#368)
  client/src/utils.ts
  server/index.js
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
Labels: frontend, backend

fix(store-qrspot): state.map undefined
  client/src/store/store-qr-spot.ts
Labels: frontend

fix(store-qrspot): state.map undefined (#369)
  client/src/store/store-qr-spot.ts
Labels: frontend

fix(achievements): middleware before res.send
  server/index.js
  server/src/achievement/achievement-middleware.js
Labels: backend

fix(achievements): middleware before res.send (#374)
  server/index.js
  server/src/achievement/achievement-middleware.js
Labels: backend

feat(admin): add is_admin for qrspots
  client/src/components/QRSpot.vue
  server/migrations/20220604-user-is-admin.sql
  server/schema.sql
  server/src/qrcode/qrcode-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/user/user-model.js
  server/src/utils.js
Labels: frontend, backend

feat(welcome): add welcome popup
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/welcome.ts
Labels: frontend

change vue-method
  client/src/components/QRSpot.vue
Labels: frontend

update
  client/src/plugins/achievements.ts
Labels: frontend
