Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json

Fix server package.json
  .gitignore
  server/package.json
Labels: backend, package.json

Call achievements on api call
  client/src/components/GoogleMaps.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/plugins/event-bus.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
Labels: frontend

Add nodemon to server package.json
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Call achievements on api call (#202)
  client/src/components/GoogleMaps.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/plugins/event-bus.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
Labels: frontend

Add migrations script to run on install (#200)
  .gitignore
  package.json
  server/migrations/20210411-qrshards-constraint.sql
  server/migrations/run.sh
  server/package.json
Labels: backend, package.json

Add nodemon to server package.json (#201)
  server/package-lock.json
  server/package.json
Labels: backend, package.json

Add snackbar update and fix overflow
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/components/Footer.vue
  client/src/plugins/achievements.ts
  client/src/registerServiceWorker.ts
Labels: frontend

Add snackbar update and fix overflow (#203)
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/components/Footer.vue
  client/src/plugins/achievements.ts
  client/src/registerServiceWorker.ts
Labels: frontend

Minimize qr scanner img
  client/src/assets/qr-scanner-button.svg
Labels: frontend

Minimize qr scanner img (#204)
  client/src/assets/qr-scanner-button.svg
Labels: frontend

Update user-model.js
  server/src/user/user-model.js
Labels: backend

Update User.vue
  client/src/views/User.vue
Labels: frontend

Update User.vue
  client/src/views/User.vue
Labels: frontend

Update intro.ts
  client/src/plugins/intro.ts
Labels: frontend

Update user-model.js
  server/src/user/user-model.js
Labels: backend

Update User.vue
  client/src/views/User.vue
Labels: frontend

Add sort by function
  client/src/utils.ts
Labels: frontend

Update User.vue
  client/src/views/User.vue
Labels: frontend

Order by users by user names
  server/src/user/user-model.js
Labels: backend

Update user-model.js
  server/src/user/user-model.js
Labels: backend

Order by users by user names (#206)
  server/src/user/user-model.js
Labels: backend

new qr spot icons
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
Labels: frontend

Update icons
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
Labels: frontend

Update intro steps
  client/src/plugins/intro.ts
Labels: frontend

Add leaderboard
  client/src/plugins/achievements.ts
  client/src/store/store-friends.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
  client/src/utils.ts
  client/src/views/User.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Update README environment variables
  README.md
Labels: none

Add tabs on user page for achievments, friends and settings
  client/src/assets/scss/_variables.scss
  client/src/components/Header.vue
  client/src/components/UserAchievments.vue
  client/src/components/UserFriends.vue
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: frontend

Update icons
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
Labels: frontend

Update README postgres version
  README.md
Labels: none

Add user leaderboard template
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/views/User.vue
Labels: frontend

Move global style to style.scss
  client/src/assets/scss/_style.scss
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
Labels: frontend

Update intro.ts
  client/src/plugins/intro.ts
Labels: frontend

New qr spot icons (#207)
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
Labels: frontend

Update intro steps (#208)
  client/src/plugins/intro.ts
Labels: frontend

Add tabs on user page for achievements, friends and settings (#210)
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Header.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: frontend

Update README.md
  README.md
Labels: none

Update README environment variables (#209)
  README.md
Labels: none

Update EventBus usage
  client/src/components/GoogleMaps.vue
  client/src/components/SignIn.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserFriends.vue
  client/src/components/UserSettings.vue
  client/src/plugins/achievements.ts
  client/src/store/store-friends.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
Labels: frontend

Add leaderboard
  client/src/components/UserLeaderboard.vue
  client/src/store/store-user.ts
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Update introjs
  client/src/plugins/intro.ts
Labels: frontend
