Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, package.json

Fix delete me
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: frontend

Update EventBus usage (#212)
  client/src/components/GoogleMaps.vue
  client/src/components/SignIn.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserFriends.vue
  client/src/components/UserSettings.vue
  client/src/plugins/achievements.ts
  client/src/store/store-friends.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
Labels: frontend

Update introjs (#213)
  client/src/plugins/intro.ts
Labels: frontend

Update release drafter
  .github/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github

Update release-drafter.yml
  .github/release-drafter.yml
Labels: github

Update release drafter (#214)
  .github/release-drafter.yml
Labels: github

Fix release drafter
  .github/release-drafter.yml
Labels: github

Fix release drafter (#215)
  .github/release-drafter.yml
Labels: github

Update User.vue
  client/src/views/User.vue
Labels: frontend

Update client/src/components/UserLeaderboard.vue
  client/src/components/UserLeaderboard.vue
Labels: frontend

Add leaderboard (#211)
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/views/User.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend

Apply user tabs improvements
  client/src/components/Header.vue
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: frontend

Update client/src/components/Header.vue
  client/src/components/Header.vue
Labels: frontend

Update client/src/views/User.vue
  client/src/views/User.vue
Labels: frontend

Apply user tabs improvements (#216)
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: frontend

Add qrspot disable route
  client/src/views/User.vue
  server/migrations/20210723-qrspots-active.sql
  server/schema.sql
  server/src/auth/auth.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/user/user-route.js
Labels: frontend, backend

Add frontend delete spot button
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  server/src/achievements.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: frontend, backend

Remove unused class
  client/src/components/QRSpotUpdate.vue
Labels: frontend

Change errcode 400 to 500
  server/src/achievements.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
Labels: backend

Change qr scanner btn size
  client/src/components/Footer.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
Labels: frontend

Update test-env-remove.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update test-env-remove.yml
  .github/workflows/test-env-remove.yml
Labels: github

Update test-env-remove.yml
  .github/workflows/test-env-remove.yml
Labels: github

Add qrspot disable (#218)
  .github/workflows/test-env-remove.yml
  client/src/components/Footer.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/views/User.vue
  server/migrations/20210723-qrspots-active.sql
  server/schema.sql
  server/src/achievements.js
  server/src/auth/auth.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
Labels: frontend, backend, github

Create idea_suggestion.md
  .github/ISSUE_TEMPLATE/idea_suggestion.md
Labels: github

Create idea_suggestion.md (#220)
  .github/ISSUE_TEMPLATE/idea_suggestion.md
Labels: github

Pin Node.js to v12.22.4
  .nvmrc
  client/.nvmrc
  server/.nvmrc
Labels: frontend, backend

Update all non-major dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Update dependency eslint-plugin-vue to v7
  client/package-lock.json
  client/package.json
Labels: frontend, package.json

Test collect at morning
  server/src/achievements.js
Labels: backend

Add achievement collect at lunch
  server/src/achievements.js
Labels: backend

Add achievement collect at lunch (#227)
  server/src/achievements.js
Labels: backend

Update dependency husky to v7
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: frontend, backend, package.json

Add database migrations to README
  README.md
Labels: none

Add HA notification
  server/package-lock.json
  server/package.json
  server/passport.js
Labels: backend, package.json

Add indication on lvl up
  client/src/components/GoogleMaps.vue
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/store/store-user.ts
Labels: frontend

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
package.json:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
