Repository VictorWinberg/qr-hunt, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, github, npm, migration

.github/labeler.yml:

frontend:
  - client/*
  - client/**/*
backend:
  - server/*
  - server/**/*
github:
  - .github/*
  - .github/**/*
npm:
  - package.json
  - package-lock.json
  - client/package.json
  - client/package-lock.json
  - server/package.json
  - server/package-lock.json
migration:
  - server/migrations/*

feat(locale): store in db
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/i18n.ts
  server/migrations/20221106-user-locale.sql
  server/schema.sql
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend, migration

fix
  client/src/components/UserSettings.vue
Labels: frontend

feat(achievement): select achievement to scale up
  client/src/components/AchievementsCard.vue
  client/src/components/UserAchievements.vue
Labels: frontend

feat(locale): store in db (#413)
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/i18n.ts
  server/migrations/20221106-user-locale.sql
  server/schema.sql
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: frontend, backend, migration

refactor(root): package + node v16
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
  README.md
  client/.nvmrc
  client/README.md
  client/package.json
  client/tests/unit/example.spec.ts
  package-lock.json
  package.json
  server/README.md
  server/package-lock.json
Labels: frontend, backend, github, npm

uninstall root deps
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
  README.md
  client/.nvmrc
  client/README.md
  client/package-lock.json
  client/package.json
  server/package-lock.json
Labels: frontend, backend, github, npm

update readme
  README.md
Labels: none

fix build.yml
  .github/workflows/build.yml
Labels: github

fix build
  .github/workflows/build.yml
Labels: github

remove cypress
  .github/workflows/build.yml
Labels: github

overlay background
  client/src/components/AchievementsCard.vue
Labels: frontend

flipping
  client/package-lock.json
  client/package.json
  client/src/components/UserAchievements.vue
Labels: frontend, npm

revert package-lock
  client/package-lock.json
  client/package.json
  package-lock.json
  server/package-lock.json
Labels: frontend, backend, npm

add install-server
  package.json
Labels: npm

refactor(root): package + node v16 (#419)
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
  README.md
  client/.nvmrc
  client/README.md
  client/package.json
  client/tests/unit/example.spec.ts
  package.json
  server/README.md
Labels: frontend, backend, github, npm

feat(achievement): select achievement to scale up (#415)
  client/src/components/AchievementsCard.vue
  client/src/components/UserAchievements.vue
Labels: frontend

feat(leaderboard): add all time stats
  client/src/components/UserLeaderboard.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/dayjs-custom.ts
  client/src/plugins/dayjs.ts
  server/src/user/user-route.js
Labels: frontend, backend

Update bundle-analyzer.yml
  .github/workflows/bundle-analyzer.yml
Labels: github

Update bundle-analyzer.yml
  .github/workflows/bundle-analyzer.yml
Labels: github

feat(leaderboard): add all time stats (#425)
  .github/workflows/bundle-analyzer.yml
  client/src/components/UserLeaderboard.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/dayjs-custom.ts
  client/src/plugins/dayjs.ts
  server/src/user/user-route.js
Labels: frontend, backend, github

test approve
  README.md
Labels: none

feat(achievements): add max streak + level up
  client/src/assets/fire.svg
  client/src/components/GoogleMaps.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/store/store-user.ts
  client/src/views/User.vue
  server/migrations/20230628-repeatable-length.sql
  server/migrations/20230629-user-max-streak.sql
  server/schema.sql
  server/src/achievement/achievement-list.js
  server/src/user/user-model.js
Labels: frontend, backend, migration

feat(user): refactor user level
  server/src/user/user-level.js
  server/src/user/user-route.js
Labels: backend

feat(user): refactor user level (#439)
  server/src/user/user-level.js
  server/src/user/user-route.js
Labels: backend

feat(achievements): add max streak + level up (#438)
  client/src/assets/fire.svg
  client/src/components/GoogleMaps.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/store/store-user.ts
  client/src/views/User.vue
  server/migrations/20230628-repeatable-length.sql
  server/migrations/20230629-user-max-streak.sql
  server/schema.sql
  server/src/achievement/achievement-list.js
  server/src/user/user-model.js
Labels: frontend, backend, migration

fix(release): show correct release
  client/src/components/Footer.vue
Labels: frontend

fix(release): show correct release (#440)
  client/src/components/Footer.vue
Labels: frontend

feat(distance): add walking time
  client/src/components/QRSpot.vue
  client/src/utils.ts
Labels: frontend

feat(distance): add walking time (#441)
  client/src/components/QRSpot.vue
  client/src/utils.ts
Labels: frontend

feat(domain): new domain
  server/swagger.js
Labels: backend

new domain
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
  .github/workflows/test-env-remove.yml
  client/public/.well-known/assetlinks.json
  client/src/registerServiceWorker.ts
  server/package.json
  server/passport.js
Labels: frontend, backend, github, npm

feat(domain): new domain (#444)
  .github/workflows/deploy.yml
  .github/workflows/test-env-deploy.yml
  .github/workflows/test-env-remove.yml
  client/public/.well-known/assetlinks.json
  client/src/registerServiceWorker.ts
  server/package.json
  server/passport.js
  server/swagger.js
Labels: frontend, backend, github, npm

fix(achievement): level up
  server/src/achievement/achievement-list.js
Labels: backend

fix(achievement): level up (#463)
  server/src/achievement/achievement-list.js
Labels: backend

ci(renovate): schedule quarterly
  .github/renovate.json
Labels: github

ci(renovate): schedule quarterly (#466)
  .github/renovate.json
Labels: github

feat(qrspot): replace qr-code
  client/src/components/QRSpotUpdate.vue
  client/src/constants.ts
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/store/store-qr-spot.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

feat(qrspot): replace qr-code (#467)
  client/src/components/QRSpotUpdate.vue
  client/src/constants.ts
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/store/store-qr-spot.ts
  server/src/qrspot/qrspot-model.js
Labels: frontend, backend

fix(scanner): select correct camera
  client/src/components/QRScanner.vue
Labels: frontend

next camera
  client/src/components/QRScanner.vue
Labels: frontend
