Repository VictorWinberg/qr-hunt, pull requests merged in 2021-09, with the labels that each got.

#266 Rotate map
  client/src/components/GoogleMaps.vue
  client/src/plugins/google-maps.ts
  client/src/store/store-qr-spot.ts
Labels: Frontend, Type: Feature

#268 Add compass
  client/src/assets/compass.svg
  client/src/assets/google.svg
  client/src/assets/position-button.svg
  client/src/assets/position-marker.svg
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
Labels: Frontend, Type: Feature

#273 Show loading user coordinates
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-user.ts
Labels: Frontend, Type: Feature

#270 No zoom on app init
  client/src/components/GoogleMaps.vue
Labels: Frontend, Type: Feature

#274 Add leaderboard date-span in backend
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: Type: Feature, Backend

#276 Add dayjs library
  client/package-lock.json
  client/package.json
  client/src/assets/scss/_style.scss
  client/src/components/UserLeaderboard.vue
  client/src/plugins/dayjs.ts
  client/src/store/store-user.ts
Labels: Frontend, package.json, Type: Feature, Backend

#280 Performance fix keep-alive
  client/src/App.vue
Labels: Frontend, Type: Bug

#282 Indicate recently collected
  .nvmrc
  client/.nvmrc
  client/src/assets/puff.svg
  client/src/components/GoogleMaps.vue
  client/src/utils.ts
  server/.nvmrc
  server/src/qrspot/qrspot-model.js
Labels: Frontend, Type: Feature, Backend

#281 Add a back button on edit
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/store/store-qr-spot.ts
  server/src/qrspot/qrspot-model.js
Labels: Frontend, Type: Feature, Backend

#283 Hide rating and responsive font-size
  client/src/components/QRSpot.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/views/NotFound.vue
Labels: Frontend, Type: Bug

#285 Fix height issue in PWA
  client/src/App.vue
  client/src/assets/scss/_style.scss
Labels: Frontend, Type: Bug

#289 Hide recent used on own qrshards
  server/src/qrspot/qrspot-model.js
Labels: Type: Feature, Backend

#291 Fix userId undefined
  server/src/qrspot/qrspot-model.js
Labels: Backend, Type: Bug

#292 Add sentry
  README.md
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/sentry.ts
  server/index.js
  server/package-lock.json
  server/package.json
  server/sentry.js
  server/src/achievement/achievement-middleware.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: Frontend, package.json, Type: Feature, Backend

#293 Remove express lib from root
  package-lock.json
  package.json
Labels: package.json, Type: Bug
