Repository VictorWinberg/qr-hunt, pull requests merged in 2021-08, with the labels that each got.

#227 Add achievement collect at lunch
  server/src/achievements.js
Labels: Backend, Type: Feature

#228 Add database migrations to README
  README.md
Labels: Type: Feature

#230 Add HA notification
  server/package-lock.json
  server/package.json
  server/passport.js
Labels: package.json, Type: Feature, Backend

#231 Add indication on lvl up
  client/src/components/GoogleMaps.vue
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/store/store-user.ts
Labels: Frontend, Type: Feature

#232 Add check user distance to qr-spot
  client/src/plugins/snackbar.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
  server/src/achievements.js
  server/src/qrcode/qrcode-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
Labels: Frontend, Type: Feature, Backend

#233 Notify all HA users
  .github/workflows/approve-on-label.yml
  server/passport.js
Labels: Type: Feature, Github, Backend

#238 Increase delay for achievement popup
  client/src/plugins/achievements.ts
Labels: Frontend, Type: Feature

#240 Set qrcode to NULL on deactivated qrspot
  server/src/qrspot/qrspot-model.js
Labels: Backend, Type: Bug

#242 Add release notes popup
  client/src/App.vue
  client/src/components/Popup.vue
  client/src/components/SignIn.vue
  client/src/registerServiceWorker.ts
  client/src/utils.ts
  client/vue.config.js
Labels: Frontend, Type: Feature

#246 Add more achievements
  server/index.js
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-list.js
  server/src/achievement/achievement-middleware.js
  server/src/utils.js
Labels: Type: Feature, Backend

#247 Change pattern for bundle analyzer
  .github/workflows/bundle-analyzer.yml
Labels: Github, Type: Action

#245 Add fontawesome locally
  client/public/fontawesome/css/all.css
  client/public/fontawesome/webfonts/fa-brands-400.eot
  client/public/fontawesome/webfonts/fa-brands-400.svg
  client/public/fontawesome/webfonts/fa-brands-400.ttf
  client/public/fontawesome/webfonts/fa-brands-400.woff
  client/public/fontawesome/webfonts/fa-brands-400.woff2
  client/public/fontawesome/webfonts/fa-light-300.eot
  client/public/fontawesome/webfonts/fa-light-300.svg
  client/public/fontawesome/webfonts/fa-light-300.ttf
  client/public/fontawesome/webfonts/fa-light-300.woff
  client/public/fontawesome/webfonts/fa-light-300.woff2
  client/public/fontawesome/webfonts/fa-regular-400.eot
  client/public/fontawesome/webfonts/fa-regular-400.svg
  client/public/fontawesome/webfonts/fa-regular-400.ttf
  client/public/fontawesome/webfonts/fa-regular-400.woff
  client/public/fontawesome/webfonts/fa-regular-400.woff2
  client/public/fontawesome/webfonts/fa-solid-900.eot
  client/public/fontawesome/webfonts/fa-solid-900.svg
  client/public/fontawesome/webfonts/fa-solid-900.ttf
  client/public/fontawesome/webfonts/fa-solid-900.woff
  client/public/fontawesome/webfonts/fa-solid-900.woff2
  client/public/index.html
Labels: Frontend, Type: Feature

#248 Fix night owl
  server/src/achievement/achievement-list.js
Labels: Backend, Type: Bug

#244 Remove friends feat
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#249 Fix newline in release notes
  client/src/utils.ts
Labels: Frontend, Type: Bug

#250 Change github actions release emoji
  .github/release-drafter.yml
Labels: Github, Type: Action

#251 Fix introjs overflow and update steps
  client/src/plugins/intro.ts
  client/src/utils.ts
Labels: Frontend, Type: Bug

#253 Update user on login
  client/src/assets/scss/_variables.scss
  client/src/components/UserLeaderboard.vue
  server/passport.js
  server/src/user/user-model.js
Labels: Frontend, Type: Feature, Backend

#256 Add view users
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/plugins/achievements.ts
  client/src/router.ts
  client/src/store/store-achievements.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
  client/src/utils.ts
  client/src/views/User.vue
  server/src/achievement/achievement-middleware.js
  server/src/achievement/achievement-model.js
  server/src/user/user-route.js
Labels: Frontend, Type: Feature, Backend
