Repository VictorWinberg/qr-hunt, pull requests merged in 2021-02, with the labels that each got.

#47 Add current spot details box
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/main.ts
  client/src/router.ts
  client/src/store.ts
Labels: Frontend, Type: Feature

#49 Remove codecov
  .github/workflows/build.yml
Labels: Github, Type: Feature

#50 Add User view
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/components/Header.vue
  client/src/components/User.vue
  client/src/router.ts
Labels: Frontend, Type: Feature

#51 Add stylelint
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/GoogleSignIn.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  server/package.json
Labels: Backend, Frontend, Type: Feature, package.json

#56 Fix header and footer
  client/src/App.vue
  client/src/components/Home.vue
  client/src/components/User.vue
Labels: Frontend, Type: Feature

#52 Add achievement badges
  client/public/index.html
  client/src/components/Header.vue
  client/src/components/User.vue
  server/achievements.js
  server/schema.sql
Labels: Backend, Frontend, Type: Feature

#54 Add a really smooth and cool transition
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Home.vue
  client/src/store.ts
Labels: Frontend, Type: Feature

#55 Add placeholder style
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/assets/scss/app.scss
  client/src/assets/scss/placeholder.scss
  client/src/components/Login.vue
  client/src/components/NotFound.vue
  client/src/components/User.vue
Labels: Backend, Frontend, Type: Feature

#58 Fix overflow footer
  client/src/components/Home.vue
  client/src/components/QRScanner.vue
Labels: Frontend, Type: Bug

#59 Fix server route index
  server/index.js
Labels: Backend, Type: Bug

#60 Add missing Login import
  client/src/App.vue
Labels: Frontend, Type: Bug

#63 Update manifest color
  client/public/manifest.json
Labels: Frontend, Type: Feature

#64 Fix mobile height issue
  client/src/App.vue
Labels: Frontend, Type: Bug

#65 Add and update icons
  client/src/App.vue
  client/src/assets/my-location.png
  client/src/assets/my-location.svg
  client/src/assets/user.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/Header.vue
Labels: Frontend, Type: Feature

#66 Update QR Scanner
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/QRScanner.vue
  client/src/plugins/custom-fetch.ts
  client/src/plugins/snackbar.ts
  client/src/store.ts
Labels: Frontend, Type: Feature

#67 Fix overflow
  client/src/components/QRScanner.vue
Labels: Frontend, Type: Bug

#72 Fix QRScanner inverted
  client/src/components/QRScanner.vue
Labels: Frontend, Type: Bug

#73 Add delete me
  client/.eslintrc.js
  client/src/App.vue
  client/src/assets/scss/_variables.scss
  client/src/components/CurrentSpot.vue
  client/src/components/Footer.vue
  client/src/components/Login.vue
  client/src/components/QRScanner.vue
  client/src/components/User.vue
  client/src/store.ts
  client/tsconfig.json
  package.json
Labels: Frontend, Type: Feature, package.json

#77 initial modal implementation
  client/src/App.vue
  client/src/components/Modal.vue
  client/src/store.ts
Labels: Frontend, Type: Feature

#78 Add user-xp
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/store.ts
  client/src/utils.ts
  server/models/user.js
  server/routes/auth.js
  server/routes/users.js
Labels: Backend, Frontend, Type: Feature

#79 Refactor current spot with constant
  client/src/assets/distance.png
  client/src/assets/star.png
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store.ts
Labels: Backend, Frontend, Type: Feature

#80 Fix header width and button cursor
  client/src/components/Header.vue
  client/src/components/Modal.vue
Labels: Frontend, Type: Feature

#81 Add achievement popup
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/components/Login.vue
  client/src/components/User.vue
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/custom-fetch.ts
  client/src/store.ts
  client/src/utils.ts
  server/achievements.js
  server/migrations/achievements-popup.sql
  server/migrations/qrshards-rating.sql
  server/models/user.js
  server/schema.sql
Labels: Backend, Frontend, Type: Feature

#82 Fix snackbar
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/plugins/achievements.ts
Labels: Frontend, Type: Feature
