Repository VictorWinberg/qr-hunt, pull requests merged in 2021-04, with the labels that each got.

#94 Add require node v12
  .github/workflows/bundle-analyzer.yml
  client/.npmrc
  client/package-lock.json
  client/package.json
  server/.npmrc
  server/package.json
Labels: Backend, Frontend, Github, Type: Feature, package.json

#95 Add swagger-ui
  README.md
  client/src/store.ts
  server/index.js
  server/migrations/qrshards-constraint-sql.sql
  server/models/qrcode.js
  server/models/qrshard.js
  server/models/qrspot.js
  server/models/user.js
  server/package-lock.json
  server/package.json
  server/routes/qrcodes.js
  server/routes/qrshards.js
  server/routes/qrspots.js
  server/routes/scan.js
  server/swagger.js
Labels: Backend, Frontend, Type: Feature, package.json

#96 Fix swagger prod
  server/swagger.js
Labels: Backend, Type: Bug

#97 Update marker icons
  client/src/assets/position-marker.svg
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: Frontend, Type: Feature

#98 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Github, Type: Feature

#99 Add location circle and hide poi business
  client/src/assets/qr-spot-marker.svg
  client/src/components/GoogleMaps.vue
Labels: Frontend, Type: Feature

#100 Add zoom to center map
  client/src/components/GoogleMaps.vue
Labels: Frontend, Type: Feature

#101 Add achievement popup
  client/src/assets/scss/_style.scss
  client/src/components/User.vue
  client/src/plugins/achievements.ts
Labels: Frontend, Type: Feature

#103 Add create form
  client/.eslintrc.js
  client/src/assets/spinner.svg
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/constans.ts
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/store.ts
  client/src/store/store-achievements.ts
  client/src/store/store-auth.ts
  client/src/store/store-modal.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store.ts
  client/src/utils.ts
Labels: Frontend

#105 Switch between view and edit mode for qrspot
  client/src/assets/scss/_style.scss
  client/src/components/CreateSpot.vue
  client/src/components/CurrentSpot.vue
  client/src/components/ViewSpot.vue
  client/src/utils.ts
Labels: Frontend

#108 Update manifest
  client/public/manifest.json
Labels: Frontend, Type: Feature

#109 Update icons
  client/public/apple-touch-icon.png
  client/public/favicon.ico
  client/public/icons/favicon-16x16.png
  client/public/icons/favicon-192x192.png
  client/public/icons/favicon-32x32.png
  client/public/icons/favicon-512x512.png
Labels: Frontend, Type: Feature

#110 Add event bus
  client/src/components/GoogleMaps.vue
  client/src/constans.ts
  client/src/store/event-bus.ts
  client/src/store/store-qr-spot.ts
Labels: Frontend, Type: Feature

#114 Add collectable once each day
  client/src/store/store-scan.ts
  server/models/qrshard.js
  server/models/qrspot.js
  server/routes/scan.js
  server/schema.sql
  server/utils.js
Labels: Backend, Frontend, Type: Feature

#115 Edit QR Spot, assigned only
  server/index.js
  server/migrations/20210227-achievements-popup.sql
  server/migrations/20210227-qrshards-rating.sql
  server/migrations/20210411-qrshards-constraint-sql.sql
  server/migrations/20210425-users-username.sql
  server/passport.js
  server/schema.sql
  server/src/achievements.js
  server/src/auth/auth.js
  server/src/qrcode/qrcode-model.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-model.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-model.js
  server/src/user/user-route.js
  server/src/utils.js
  server/swagger.js
Labels: Backend, Type: Feature

#116 Update create and edit form
  client/src/assets/scss/_style.scss
  client/src/components/CurrentSpot.vue
  client/src/components/GoogleMaps.vue
  client/src/components/UpdateSpot.vue
  client/src/store/store-qr-spot.ts
Labels: Frontend

#117 Add QR Spot owner
  client/src/store/store-qr-spot.ts
  server/migrations/20210425-qrspots-rename-owner.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
Labels: Backend, Frontend, Type: Feature

#118 Hide modals on QR Scan
  client/src/components/QRScanner.vue
Labels: Frontend, Type: Feature

#119 Fix qrshards score
  server/src/qrshard/qrshard-model.js
  server/src/user/user-model.js
Labels: Backend, Type: Bug

#120 Rename approve label
  .github/workflows/approve-on-label.yml
Labels: Github, Type: Action

#121 Add ripple effect + Update user on scan
  client/src/App.vue
  client/src/assets/scss/_style.scss
  client/src/components/GoogleMaps.vue
  client/src/components/Modal.vue
  client/src/store/store-scan.ts
Labels: Frontend, Type: Feature

#122 Restructure code
  client/src/App.vue
  client/src/assets/my-location.svg
  client/src/assets/qr-spot-marker.svg
  client/src/assets/spinner.svg
  client/src/components/GoogleMaps.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/constants.ts
  client/src/router.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store.ts
  client/src/views/Home.vue
  client/src/views/NotFound.vue
  client/src/views/User.vue
Labels: Frontend, Type: Feature
