Repository VictorWinberg/qr-hunt, pull requests merged in 2021-07, with the labels that each got.

#177 Add eventbus emit qrspots update
  client/src/store/store-scan.ts
Labels: Frontend, Type: Bug

#179 Small achievements size
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#178 Smaller user xp text and xp-suffix
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#183 Add more achievements
  client/src/store/store-scan.ts
  server/src/achievements.js
Labels: Backend, Frontend, Type: Feature

#188 Add friends
  client/src/store/store-friends.ts
  client/src/store/store.ts
  client/src/views/User.vue
  server/src/user/user-model.js
  server/src/user/user-route.js
Labels: Backend, Frontend, Type: Feature

#185 Change qrspot description textarea and limit
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  server/migrations/20210707-qrspots-note-length.sql
  server/schema.sql
Labels: Backend, Frontend, Type: Feature

#189 Update github deploy fix cp env
  .github/deploy
Labels: Github, Type: Bug

#190 Add confirmation on delete-me
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#191 Use rsync instead of cp in deploy
  .github/deploy
Labels: Github, Type: Bug

#192 Updates users sql syntax
  server/src/user/user-model.js
Labels: Backend, Type: Feature

#193 Apply dark theme
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/src/components/Popup.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#195 Remove qrcode canvas
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
Labels: Frontend, Type: Bug, package.json

#136 Add intro.js
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/intro.ts
  client/src/views/User.vue
  server/passport.js
  server/src/auth/auth.js
  server/src/user/user-model.js
Labels: Backend, Frontend, Type: Feature, package.json

#194 Add app version
  .github/workflows/build.yml
  .github/workflows/bundle-analyzer.yml
  client/.nvmrc
  client/src/components/Footer.vue
  client/src/components/Header.vue
  client/vue.config.js
Labels: Frontend, Github, Type: Feature

#198 Update release-drafter
  .github/release-drafter.yml
Labels: Github, Type: Action

#197 Update readme node and db
  README.md
Labels: Type: Feature

#199 Update pr-labeler.yml
  .github/pr-labeler.yml
  .github/release-drafter.yml
Labels: Github, Type: Action

#202 Call achievements on api call
  client/src/components/GoogleMaps.vue
  client/src/constants.ts
  client/src/plugins/achievements.ts
  client/src/plugins/event-bus.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/utils.ts
Labels: Frontend, Type: Feature

#200 Add migrations script to run on install
  .gitignore
  package.json
  server/migrations/20210411-qrshards-constraint.sql
  server/migrations/run.sh
  server/package.json
Labels: Backend, Type: Feature, package.json

#201 Add nodemon to server package.json
  server/package-lock.json
  server/package.json
Labels: Backend, Type: Feature, package.json

#203 Add snackbar update and fix overflow
  client/src/assets/qr-scanner-button.svg
  client/src/assets/scss/_style.scss
  client/src/components/Footer.vue
  client/src/plugins/achievements.ts
  client/src/registerServiceWorker.ts
Labels: Frontend, Type: Feature

#204 Minimize qr scanner img
  client/src/assets/qr-scanner-button.svg
Labels: Frontend, Type: Feature

#206 Order by users by user names
  server/src/user/user-model.js
Labels: Backend, Type: Feature

#207 New qr spot icons
  client/src/assets/qr-spot-marker--free.svg
  client/src/assets/qr-spot-marker--new.svg
  client/src/assets/qr-spot-marker--used.svg
Labels: Frontend, Type: Feature

#208 Update intro steps
  client/src/plugins/intro.ts
Labels: Frontend, Type: Feature

#210 Add tabs on user page for achievements, friends and settings
  client/src/assets/scss/_style.scss
  client/src/assets/scss/_variables.scss
  client/src/components/Header.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserFriends.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#209 Update README environment variables
  README.md
Labels: Type: Feature

#212 Update EventBus usage
  client/src/components/GoogleMaps.vue
  client/src/components/SignIn.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserFriends.vue
  client/src/components/UserSettings.vue
  client/src/plugins/achievements.ts
  client/src/store/store-friends.ts
  client/src/store/store-qr-spot.ts
  client/src/store/store-scan.ts
  client/src/store/store-user.ts
  client/src/store/store.ts
Labels: Frontend, Type: Feature

#213 Update introjs
  client/src/plugins/intro.ts
Labels: Frontend, Type: Feature

#214 Update release drafter
  .github/release-drafter.yml
Labels: Github

#215 Fix release drafter
  .github/release-drafter.yml
Labels: Github, Type: Bug

#216 Apply user tabs improvements
  client/src/components/UserSettings.vue
  client/src/views/User.vue
Labels: Frontend, Type: Feature

#218 Add qrspot disable
  .github/workflows/test-env-remove.yml
  client/src/components/Footer.vue
  client/src/components/QRSpot.vue
  client/src/components/QRSpotUpdate.vue
  client/src/views/User.vue
  server/migrations/20210723-qrspots-active.sql
  server/schema.sql
  server/src/achievements.js
  server/src/auth/auth.js
  server/src/qrcode/qrcode-route.js
  server/src/qrshard/qrshard-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/scan/scan-route.js
  server/src/user/user-route.js
Labels: Backend, Frontend, Github, Type: Feature

#220 Create idea_suggestion template
  .github/ISSUE_TEMPLATE/idea_suggestion.md
Labels: Github
