Repository VictorWinberg/qr-hunt, pull requests merged in 2022-07, with the labels that each got.

#374 fix(achievements): middleware before res.send
  server/index.js
  server/src/achievement/achievement-middleware.js
Labels: Backend, Type: Bug

#376 feat(admin): add is_admin for qrspots
  client/src/components/QRSpot.vue
  server/migrations/20220604-user-is-admin.sql
  server/schema.sql
  server/src/qrcode/qrcode-route.js
  server/src/qrspot/qrspot-model.js
  server/src/qrspot/qrspot-route.js
  server/src/user/user-model.js
  server/src/utils.js
Labels: Frontend, Type: Feature, Backend

#377 feat(welcome): add welcome popup
  client/src/App.vue
  client/src/constants.ts
  client/src/main.ts
  client/src/plugins/achievements.ts
  client/src/plugins/welcome.ts
  client/src/store/store-user.ts
  client/src/utils.ts
  server/src/achievement/achievement-list.js
Labels: Frontend, Type: Feature, Backend

#380 feat(app-version): subtle notification
  client/src/App.vue
  client/src/components/Footer.vue
  client/src/utils.ts
Labels: Frontend, Type: Feature

#381 fix(store): undefined
  client/src/components/Footer.vue
Labels: Frontend, Type: Bug

#384 feat(html): add manifest link
  client/public/index.html
Labels: Frontend, Type: Feature

#387 feat(locales): add i18n and add translation files
  client/package-lock.json
  client/package.json
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/index.js
  client/src/locales/sv.json
  client/src/main.ts
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
  server/package-lock.json
Labels: Frontend, package.json, Type: Feature, Backend

#386 feat(streak): add streak count
  client/src/App.vue
  client/src/assets/fonts/Syne/OFL.txt
  client/src/assets/fonts/Syne/Syne-Regular.ttf
  client/src/components/GoogleMaps.vue
  server/src/user/user-model.js
Labels: Frontend, Type: Feature, Backend

#389 feat(locales): structure translations based on feature
  client/src/components/Footer.vue
  client/src/components/QRScanner.vue
  client/src/components/QRSpotUpdate.vue
  client/src/components/QRSpotView.vue
  client/src/components/SignIn.vue
  client/src/components/SignInGoogle.vue
  client/src/components/UserAchievements.vue
  client/src/components/UserLeaderboard.vue
  client/src/components/UserSettings.vue
  client/src/locales/en.json
  client/src/locales/sv.json
  client/src/plugins/i18n.ts
  client/src/views/User.vue
  client/vue.config.js
Labels: Frontend, Type: Feature
