Repository VictorWinberg/qr-hunt, pull requests merged in 2022-10, with the labels that each got.

#401 fix(renovate): pin passport 0.5.X
  .github/renovate.json
Labels: Github, Type: Bug

#402 fix(level-up): check if lvl not undefined
  client/src/store/store-user.ts
Labels: Frontend, Type: Feature

#405 chore(sentry): whitelist prod urls
  client/src/plugins/sentry.ts
  client/src/registerServiceWorker.ts
  server/sentry.js
Labels: Frontend, Backend

#406 feat(achievement): signed_up
  server/src/achievement/achievement-list.js
Labels: Type: Feature, Backend

#407 feat(achievement): leet
  server/src/achievement/achievement-list.js
Labels: Type: Feature, Backend

#408 fix(achievement): leet
  server/src/achievement/achievement-list.js
Labels: Backend, Type: Bug

#404 feat(streak): add new streak design
  client/src/components/Flame.vue
  client/src/components/GoogleMaps.vue
  server/src/user/user-model.js
Labels: Frontend, Type: Feature, Backend
