Repository VictorWinberg/qr-hunt, pull requests merged in 2022-05, with the labels that each got.

#348 add dayjs
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-middleware.js
Labels: package.json, Type: Feature, Backend

#351 add user achievements count
  client/src/components/UserAchievements.vue
  server/migrations/20220523-achievements-level.sql
  server/migrations/20220523-user-achievements-count.sql
  server/schema.sql
  server/src/achievement/achievement-model.js
Labels: Frontend, Type: Feature, Backend

#352 feat: sort leaderboard also by dist
  .github/pr-labeler.yml
  server/src/user/user-route.js
Labels: Type: Feature, Github, Backend

#356 feat repeatable functionality for user achievements
  server/migrations/20220523-user-achievements-count.sql
  server/migrations/20220528-achievements-repeatable.sql
  server/migrations/20220528-user-achievements-updated-at.sql
  server/schema.sql
  server/src/achievement/achievement-middleware.js
  server/src/achievement/achievement-model.js
  server/src/user/user-model.js
  server/src/utils.js
Labels: Type: Feature, Backend

#355 feat: :sparkles: google calendar events
  .gitignore
  README.md
  server/package-lock.json
  server/package.json
  server/src/achievement/achievement-cal.js
  server/src/achievement/achievement-cal.json
  server/src/achievement/achievement-middleware.js
Labels: package.json, Type: Feature, Backend

#357 update early bird and night owl hours
  server/src/achievement/achievement-list.js
Labels: Type: Feature, Backend

#359 fix: anti aliasing line
  client/src/components/UserAchievements.vue
Labels: Frontend, Type: Bug

#358 feat: order achievements by created date
  server/src/achievement/achievement-model.js
Labels: Type: Feature, Backend
