Repository VictorWinberg/qr-hunt, pull requests merged in 2025-02, with the labels that each got.

#495 chore(node): upgrade server v22
  .github/deploy
  .nvmrc
  package-lock.json
  server/.nvmrc
  server/package-lock.json
  server/package.json
Labels: npm, Type: Feature, Github, Backend

#496 feat: missing qrspot
  client/src/components/GoogleMaps.vue
  client/src/components/QRSpotUpdate.vue
  server/migrations/20250208-qrspots-missing.sql
  server/schema.sql
  server/src/qrspot/qrspot-model.js
Labels: Frontend, Type: Feature, Backend, MIGRATION

#497 feat(icon): new missing spot marker icon
  client/package.json
  client/src/assets/qr-spot-marker--missing.svg
  client/src/components/GoogleMaps.vue
Labels: Frontend, npm, Type: Feature

#498 fix: correct node version
  client/package.json
Labels: Frontend, npm, Type: Bug

#500 feat: qr-hunt title
  client-beta/src/components/HelloWorld.vue
  client-beta/src/views/HomeView.vue
Labels: Frontend, Type: Feature, Github

#501 feat: add pwa
  client-beta/package-lock.json
  client-beta/package.json
  client-beta/public/favicon.ico
  client-beta/public/icons/favicon-16x16.png
  client-beta/public/icons/favicon-192x192.png
  client-beta/public/icons/favicon-32x32.png
  client-beta/public/icons/favicon-512x512.png
  client-beta/public/logo.svg
  client-beta/public/print-qr-code.pdn
  client-beta/public/print-qr-code.png
  client-beta/vite.config.ts
Labels: Frontend, npm, Type: Feature

#502 feat: add some views
  client-beta/src/assets/fire.svg
  client-beta/src/assets/logo.svg
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/router.ts
  client-beta/src/utils/hash.ts
  client-beta/src/views/HomeView.vue
  client-beta/src/views/NotFoundView.vue
  client-beta/src/views/UserView.vue
Labels: Frontend, Type: Feature, Github

#503 feat: user view mock
  client-beta/src/components/AchievementsCard.vue
  client-beta/src/components/DrawerComponent.vue
  client-beta/src/components/UserAchievements.vue
  client-beta/src/components/UserLeaderboard.vue
  client-beta/src/components/UserSettings.vue
  client-beta/src/plugins/vuetify.ts
  client-beta/src/router.ts
  client-beta/src/views/AboutView.vue
  client-beta/src/views/HomeView.vue
  client-beta/src/views/UserView.vue
Labels: Frontend, Type: Feature
